::ng-deep {

  .mat-mdc-header-row {
    background-color: #005691 !important; /* Cor de fundo */
  }

  .mat-mdc-header-cell {
    color: white; /* Cor do texto */
    font-weight: bold; /* Texto em negrito */
  }

  .mat-sort-header-arrow {
    color: white !important;
  }


  th  .mdc-checkbox__background {
    border: 2px solid white !important;
}

}
