<table class="w-full shadow-lg border border-black border-opacity-20">
  <thead>
    <tr class="text-xs  bg-[#0d356ae6] text-white">
      <th class="py-2">Foto</th>
      <th>Nome</th>
      <th>Fabricante</th>
      <th>Lote</th>
      <th>Preço</th>
      <th>Estoque</th>
      <th>Fabricação</th>
      <th>Vencimento</th>
      <th>Status</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr class="bg-white border-b border-black border-opacity-15">
      <td class="py-4">
        <div class="flex justify-center">
          <img src="assets/images/vacina2.png" class="block w-14 h-14 rounded-full bg-black"/>
        </div>
      </td>
      <td class=" text-center">
        <span class="text-sm">COVID-19</span>
      </td>
      <td class=" text-center">
        <span class="text-sm">Pfizer</span>
      </td>
      <td class=" text-center">
        <span class="text-sm">ABC123</span>
      </td>
      <td class=" text-center">
        <span class="text-sm text-green-800">R$ 15.50</span>
      </td>
      <td class=" text-center">
        <span class="text-sm">500</span>
      </td>
      <td class=" text-center">
        <span class="text-sm text-blue-900">01/03/2024</span>
      </td>
      <td class=" text-center">
        <span class="text-sm text-red-900">06/04/2024</span>
      </td>
      <td class=" text-center">
        <span class="text-sm font-bold text-red-900">Vencida</span>
      </td>
      <td class=" text-center">
        <ul class="flex gap-3 justify-center">
          <li class="bg-[#1469C0] hover:opacity-80 p-2 shadow-md rounded-full w-9 h-9 cursor-pointer">
            <i class="bi bi-pencil-square text-base text-white"></i>
          </li>
          <li class="bg-[#BA1A1A] hover:opacity-80 shadow-md p-2 rounded-full w-9 h-9 cursor-pointer">
            <i class="bi bi-trash3-fill text-base text-white"></i>
          </li>
        </ul>
      </td>
    </tr>
    <tr class="bg-white border-b border-black border-opacity-15">
      <td class="py-4">
        <div class="flex justify-center">
          <img src="assets/images/vacina2.png" class="block w-14 h-14 rounded-full bg-black"/>
        </div>
      </td>
      <td class=" text-center">
        <span class="text-sm">COVID-19</span>
      </td>
      <td class=" text-center">
        <span class="text-sm">Pfizer</span>
      </td>
      <td class=" text-center">
        <span class="text-sm">ABC123</span>
      </td>
      <td class=" text-center">
        <span class="text-sm text-green-800">R$ 15.50</span>
      </td>
      <td class=" text-center">
        <span class="text-sm">500</span>
      </td>
      <td class=" text-center">
        <span class="text-sm text-blue-900">06/04/2024</span>
      </td>
      <td class=" text-center">
        <span class="text-sm text-red-900">01/01/2025</span>
      </td>
      <td class=" text-center">
        <span class="text-sm font-bold text-green-900">Ativo</span>
      </td>
      <td class=" text-center">
        <ul class="flex gap-3 justify-center">
          <li class="bg-[#1469C0] hover:opacity-80 p-2 shadow-md rounded-full w-9 h-9 cursor-pointer">
            <i class="bi bi-pencil-square text-base text-white"></i>
          </li>
          <li class="bg-[#BA1A1A] hover:opacity-80 shadow-md p-2 rounded-full w-9 h-9 cursor-pointer">
            <i class="bi bi-trash3-fill text-base text-white"></i>
          </li>
        </ul>
      </td>
    </tr>
    <tr class="bg-white border-b border-black border-opacity-15">
      <td class="py-4">
        <div class="flex justify-center">
          <img src="assets/images/vacina2.png" class="block w-14 h-14 rounded-full bg-black"/>
        </div>
      </td>
      <td class=" text-center">
        <span class="text-sm">COVID-19</span>
      </td>
      <td class=" text-center">
        <span class="text-sm">Pfizer</span>
      </td>
      <td class=" text-center">
        <span class="text-sm">ABC123</span>
      </td>
      <td class=" text-center">
        <span class="text-sm text-green-800">R$ 15.50</span>
      </td>
      <td class=" text-center">
        <span class="text-sm">500</span>
      </td>
      <td class=" text-center">
        <span class="text-sm text-blue-900">06/04/2024</span>
      </td>
      <td class=" text-center">
        <span class="text-sm text-red-900">01/01/2025</span>
      </td>
      <td class=" text-center">
        <span class="text-sm font-bold text-green-900">Ativo</span>
      </td>
      <td class=" text-center">
        <ul class="flex gap-3 justify-center">
          <li class="bg-[#1469C0] hover:opacity-80 p-2 shadow-md rounded-full w-9 h-9 cursor-pointer">
            <i class="bi bi-pencil-square text-base text-white"></i>
          </li>
          <li class="bg-[#BA1A1A] hover:opacity-80 shadow-md p-2 rounded-full w-9 h-9 cursor-pointer">
            <i class="bi bi-trash3-fill text-base text-white"></i>
          </li>
        </ul>
      </td>
    </tr>
    <tr class="bg-white border-b border-black border-opacity-15">
      <td class="py-4">
        <div class="flex justify-center">
          <img src="assets/images/vacina2.png" class="block w-14 h-14 rounded-full bg-black"/>
        </div>
      </td>
      <td class=" text-center">
        <span class="text-sm">COVID-19</span>
      </td>
      <td class=" text-center">
        <span class="text-sm">Pfizer</span>
      </td>
      <td class=" text-center">
        <span class="text-sm">ABC123</span>
      </td>
      <td class=" text-center">
        <span class="text-sm text-green-800">R$ 15.50</span>
      </td>
      <td class=" text-center">
        <span class="text-sm">500</span>
      </td>
      <td class=" text-center">
        <span class="text-sm text-blue-900">06/04/2024</span>
      </td>
      <td class=" text-center">
        <span class="text-sm text-red-900">01/01/2025</span>
      </td>
      <td class=" text-center">
        <span class="text-sm font-bold text-green-900">Ativo</span>
      </td>
      <td class=" text-center">
        <ul class="flex gap-3 justify-center">
          <li class="bg-[#1469C0] hover:opacity-80 p-2 shadow-md rounded-full w-9 h-9 cursor-pointer">
            <i class="bi bi-pencil-square text-base text-white"></i>
          </li>
          <li class="bg-[#BA1A1A] hover:opacity-80 shadow-md p-2 rounded-full w-9 h-9 cursor-pointer">
            <i class="bi bi-trash3-fill text-base text-white"></i>
          </li>
        </ul>
      </td>
    </tr>
    <tr class="bg-white border-b border-black border-opacity-15">
      <td class="py-4">
        <div class="flex justify-center">
          <img src="assets/images/vacina2.png" class="block w-14 h-14 rounded-full bg-black"/>
        </div>
      </td>
      <td class=" text-center">
        <span class="text-sm">COVID-19</span>
      </td>
      <td class=" text-center">
        <span class="text-sm">Pfizer</span>
      </td>
      <td class=" text-center">
        <span class="text-sm">ABC123</span>
      </td>
      <td class=" text-center">
        <span class="text-sm text-green-800">R$ 15.50</span>
      </td>
      <td class=" text-center">
        <span class="text-sm">500</span>
      </td>
      <td class=" text-center">
        <span class="text-sm text-blue-900">06/04/2024</span>
      </td>
      <td class=" text-center">
        <span class="text-sm text-red-900">01/01/2025</span>
      </td>
      <td class=" text-center">
        <span class="text-sm font-bold text-green-900">Ativo</span>
      </td>
      <td class=" text-center">
        <ul class="flex gap-3 justify-center">
          <li class="bg-[#1469C0] hover:opacity-80 p-2 shadow-md rounded-full w-9 h-9 cursor-pointer">
            <i class="bi bi-pencil-square text-base text-white"></i>
          </li>
          <li class="bg-[#BA1A1A] hover:opacity-80 shadow-md p-2 rounded-full w-9 h-9 cursor-pointer">
            <i class="bi bi-trash3-fill text-base text-white"></i>
          </li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>
