<mat-drawer-container class="h-full">
  <mat-drawer mode="side" #drawer [opened]="drawerOpen()" class="bg-base-to-bottom">
    <div class="h-screen p-5 bg-base-to-bottom">
      <div class="block w-[100px] h-[100px] rounded-full bg-white mx-auto relative">

        @if(!userPhoto()) {
          <img src="assets/images/sem-foto.png" class="rounded-full object-cover h-full w-full">
        } @else {
          <img [src]="userPhoto()" class="rounded-full object-cover h-full w-full">
        }
        <div class="absolute -right-2 bottom-0 cursor-pointer">
          <button mat-mini-fab color="primary" [matMenuTriggerFor]="menu">
            <i class="bi bi-three-dots text-lg"></i>

          </button>
          <mat-menu #menu="matMenu" class="menu ms-5 mt-2">
            <button mat-menu-item>
              <span class="text-sm flex items-center gap-2 text-white relative">
                <i class="bi bi-upload text-base"></i>
                Subir foto
                <input type="file" class="absolute left-0 top-0 w-full h-full opacity-0 cursor-pointer" #photoFileInput (input)="addPhoto(photoFileInput.files)">
              </span>
            </button>
            @if (userPhoto()) {
              <button mat-menu-item (click)="removePhoto()">
                <span class="text-sm flex items-center gap-2 text-white">
                  <i class="bi bi-x-circle-fill"></i>
                  Remover foto
                </span>
              </button>
            }
          </mat-menu>
        </div>
      </div>
      <span class="block opacity-80 text-white mt-5 text-center">{{  userInfo()?.name }}</span>
      <mat-list>
        @for (menu of menus(); track menu) {
          <mat-list-item class="!p-0 mt-2">
            <div routerLink="{{menu.routeLink}}" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }" matRipple  class="hover-after-h  cursor-pointer py-3 px-2 flex w-full font-light text-white text-sm gap-5 items-center border border-white">
              <img src="{{menu.iconUrl}}" class="w-5 ms-2">
              {{ menu.label }}
            </div>
          </mat-list-item>
        }
      </mat-list>

      <div class="h-[0.07rem] w-full mt-3 bg-white bg-opacity-70"></div>

      <div matRipple class="cursor-pointer py-2 px-2 hover:opacity-50 mt-3 flex justify-between items-center" (click)="seeMoreMenu()">
        <span class="text-sm ps-1 text-white">{{ !showMore() ? "Mais opções" : "Mostrar menos"}}</span>
        <span class="absolute right-0 block me-3">
          <i class="bi bi-caret-right-fill text-white text-sm"></i>
        </span>
      </div>

      <mat-list>
          <mat-list-item class="!p-0 mt-2" (click)="openExitDialog()">
            <div matRipple  class="hover-after-h  cursor-pointer py-3 px-2 flex w-full font-light text-white text-sm gap-5 items-center border border-white">
              <img src="assets/icons/sidenav/signout.svg" class="w-5 ms-2">
              Sair
            </div>
          </mat-list-item>
      </mat-list>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <app-header></app-header>
    <div class="pt-20 px-5 pb-5">
      <ng-content></ng-content>
    </div>
  </mat-drawer-content>
</mat-drawer-container>


