<div class="sidenav min-h-screen flex">
  <div [class.visible]="!showMenuSidenav()"
    class="sidenav__drawer border-r border-black border-opacity-50 xl:border-none px-4 sm:w-[200px] z-20 pt-5 fixed h-full bg-gradient-to-b from-[#005792] to-[#0D356A] transition-all flex flex-col items-center">
    <div class="sidenav__drawer-profile w-full ps-4 flex flex-col gap-3 items-center relative -translate-x-5">
      <div class="w-[100px] h-[100px]">
        <img src="assets/images/goku.jpg" class="rounded-full object-cover h-full w-full">
      </div>
      <span class="relative opacity-80 text-white">Gabriel Cardoso</span>
    </div>

    <ul class="mt-5 flex flex-col gap-5 w-full  overflow-hidden overflow-y-auto sidenav__drawer-list">
      @for (menu of menus; track menu) {
      <li routerLink="{{ menu.routeLink }}" [routerLinkActive]="['bg-[#014674]', 'text-white', 'after:bg-white']"
        [routerLinkActiveOptions]="{ exact: true }"
        class="p-2 flex gap-3 hover:bg-[#014674] hover:text-white items-center cursor-pointer rounded-sm transition-all  after:left-0 after:block after:w-0.5 after:h-full after:absolute after:hover:bg-white relative">
        <div class="w-7 h-7 flex items-center justify-center">
          <img [src]="menu.iconUrl" [style]="menu.iconStyles" class="min-w-5 max-w-5 object-fill" />
        </div>
        <span class="relative text-sm text-white">{{ menu.label }}</span>
      </li>
      }
      <li>
        <div class="cursor-pointer hover:opacity-50 flex justify-between items-center" (click)="seeMore()">
          <span class="text-sm ps-1 text-white">Mais opções</span>
          <img src="assets/icons/dashboard/see-more.svg" style="filter: invert(1);">
        </div>

        @if (isSeeMore()) {
        <ul class="-translate-y-1/2  flex flex-col gap-5 absolute left-[108%] bg-opacity-95 bg-gradient-to-b from-[#005792] to-[#0D356A] max-w-[200px] p-2 py-5 rounded-xl shadow-xl shadow-gray-400 border border-black border-opacity-30">
          @for(submenu of submenus(); track submenu; let i = $index; let last = $last) {
          <li
            class="relative text-sm transition-all items-center gap-3 cursor-pointer flex {{ !last ? 'border-b' : 'border-none'}} border-black border-opacity-30 p-1">
            <div
              class="hover:rounded-md flex-1 relative hover:bg-[#014674] hover:text-white flex transition-all items-center gap-3 p-1"
              (click)="openSubmenus(i)" [routerLink]="submenu.submenus ? undefined : [submenu.routeLink]">

              <div *ngIf="submenu.iconUrl" class="p-1 flex items-center justify-center">
                <img [src]="submenu.iconUrl" [style]="submenu.iconStyles" class="min-w-5 max-w-5 object-fill" />
              </div>
              <span class=" text-center text-xs uppercase font-medium pr-4 text-white">{{ submenu.label }}</span>
              <div *ngIf="!submenu.submenus" class="dot h-1 w-1 rounded-full"></div>

              @if (submenu.submenus?.length) {
              <img src="assets/icons/dashboard/see-more.svg" class="absolute right-0 pr-1" style="filter: invert(1);">
              }
            </div>

            <ul *ngIf="submenu.submenus?.length && submenu.openSubmenu"
              class="w-full flex flex-col gap-5 absolute left-[120%] bg-opacity-95 bg-gradient-to-b from-[#005792] to-[#0D356A] max-w-[200px] p-2 py-5 rounded-xl shadow-xl shadow-gray-400 border border-black border-opacity-30">
              @for(submenu of submenu.submenus; track submenu) {
              <li
                class="text-sm transition-all items-center gap-3 cursor-pointer flex p-1 hover:rounded-md hover:bg-[#014674] hover:text-white"
                routerLink="{{ submenu.routeLink }}">
                <div *ngIf="submenu.iconUrl" class="w-7 h-7 flex items-center justify-center">
                  <img [src]="submenu.iconUrl" [style]="submenu.iconStyles" class="min-w-5 max-w-5 object-fill" />
                </div>
                <span class="text-center text-xs uppercase font-medium text-white">{{ submenu.label }}</span>
                <div class="dot h-1 w-1 rounded-full"></div>
              </li>
              }
              <div class="triangle"></div>
            </ul>
          </li>
          }
          <div class="triangle"></div>
        </ul>
        }
      </li>
    </ul>

    <div class="h-[0.07rem] w-full mt-3 bg-white bg-opacity-70"></div>

    <div class="mt-5 flex flex-col gap-2 w-full sm:items-center">
      <span class="p-2 flex items-center w-full gap-3 rounded-sm cursor-pointer transition-all hover:bg-[#014674] hover:text-white after:left-0 after:block after:w-0.5 after:h-full after:absolute after:hover:bg-white relative">
        <div class="w-7 h-7 flex items-center justify-center">
          <img src="assets/icons/sidenav/config.svg" />
        </div>
        <span class="relative text-sm text-white">Configurações</span>
      </span>
      <span routerLink="/login" class="mb-3 p-2 flex items-center w-full gap-3 rounded-sm cursor-pointer transition-all hover:bg-[#014674] hover:text-white after:left-0 after:block after:w-0.5 after:h-full after:absolute after:hover:bg-white relative">
        <div class="w-7 h-7 flex items-center justify-center">
          <img src="assets/icons/sidenav/signout.svg" />
        </div>
        <span class="relative text-sm text-white">Sair</span>
      </span>
    </div>

    <!-- <div class="bg-[#7289DA] absolute top-0 right-0 h-full w-2 hidden lg:block"></div> -->

    <app-menu-mobile class="absolute left-4 top-5 xs:block hidden sm:hidden" />
  </div>

  <div class="sidenav__content bg-brand-secondary flex-1 {{ !showMenuSidenav() ? 'ps-[200px]' : ''}}">
    <ng-content></ng-content>
  </div>
</div>
