<div  class="wrapper absolute top-0 left-0 w-full h-full bg-black bg-opacity-50">
  <div class="shadow-lg w-full max-w-[600px] bg-white animate-slide-in mx-auto mt-6">
    <div class="bg-[#244878] text-white flex justify-between items-center p-4">
      Filtros
      <span (click)="handleCloseEvent()" class="flex items-center justify-center p-2 rounded-full w-10 h-10 hover:bg-gray-100 transition-all hover:text-black cursor-pointer">
        <i class="bi bi-x-lg"></i>
      </span>
    </div>
    <section class="p-5">
      <div class="flex gap-4">
        <select #select class="text-sm  shadow-md border outline-none rounded-md border-black border-opacity-15 p-2 py-3 w-full">
          @if(!fieldsCopy().length) {
            <option value="" selected disabled>Não há mais propriedades</option>
          }
          @for (field of fieldsCopy(); track field) {
            <option [value]="field.property">{{  field.propertyNickname }}</option>
          }
        </select>
        <button (click)="applyFilter(select)"  class="text-xs flex items-center gap-2 bg-[#244878] hover:opacity-90 text-white px-2 rounded-md">
          <i class="bi bi-filter"></i>
          Aplicar
        </button>
      </div>
      <span [formGroup]="form" class="mt-5 flex flex-col gap-3">

        @for (field of fields; track field) {
            @if (fieldsSelect().includes(field)) {
              <div class="flex gap-5 bg-white items-center">
                <span class="flex flex-grow border rounded-md shadow-md items-center px-2">
                  <span class="text-sm">{{ field.propertyNickname }}:</span>
                  <input formControlName="{{field.property}}" type="text" class="outline-none w-full h-full p-2 py-3 placeholder:text-sm placeholder:font-medium" placeholder="Insirar um valor">
                </span>
                <button (click)="removeFilter(field.property)" class="text-xs bg-red-900 bg-opacity-90 hover:opacity-90 flex gap-2 items-center text-white px-2 rounded-full w-10 h-10 justify-center"><i class="bi bi-trash3-fill"></i></button>
              </div>
          }
        }

      </span>
      <div class="flex gap-3 text-sm mt-5">
        <button class="flex-grow p-2  hover:opacity-80 rounded-md border hover:text-red-800 hover:border hover:border-red-800 bg-white shadow-lg" (click)="clearFilter()">Limpar Filtro</button>
        <button class="flex-grow bg-[#244878] p-2 text-white hover:opacity-80 rounded-md shadow-lg">Filtrar</button>
      </div>
    </section>
  </div>
</div>
