<span class="block ps-2">
  @if (filters.length) {
    <span class="flex items-center gap-1">
      <span class="text-sm font-medium ">Filtro aplicado para:</span>
      <ul class="list-none flex items-center font-light">
        @for (propertyFilter of filters; let first = $first; let last = $last; track propertyFilter) {
          @if (first) {
            <li class="text-sm">{{ propertyFilter.propertyNickname + ' igual à ' + applyCapitalize(propertyFilter.outputValue!) }}</li>
          } @else if (last) {
            <li class="text-sm">, {{ propertyFilter.propertyNickname + ' igual à ' + applyCapitalize(propertyFilter.outputValue!) }}</li>
          } @else {
            <li class="text-sm">{{ propertyFilter.propertyNickname + ' igual à ' + applyCapitalize(propertyFilter.outputValue!) }}</li>
          }
        }
      </ul>
    </span>
  }
  </span>
