<div id="container" *ngIf="isOpen()" class="absolute left-0 top-0 bg-black bg-opacity-50 w-full h-full p-5 z-20">
  <form class="max-w-[700px] mx-auto bg-white p-5 py-7 rounded-md shadow-xl animate-slide-in" [formGroup]="form" (ngSubmit)="register()">
    <div class="flex justify-between items-center">
      <h1 class="text-center text-2xl">Cadastre-se</h1>
      <button mat-icon-button (click)="close()">
        <img src="assets/icons/close.svg" class="w-6 cursor-pointer">
      </button>
    </div>

    <mat-tab-group [selectedIndex]="selected.value"
                   (selectedIndexChange)="selected.setValue($event)">

      <mat-tab label="Informações">
       <div class="mt-5 grid grid-cols-2 gap-3">
        <mat-form-field class="w-full" appearance="outline">
          <mat-label>Nome Completo</mat-label>
          <input type="name" matInput formControlName="name" placeholder="Nome Completo">
          @if (getControlError('name')) {
            <mat-error>{{  getControlError('name') }}</mat-error>
          }
        </mat-form-field>

        <mat-form-field class="w-full" appearance="outline">
          <mat-label>Apelido</mat-label>
          <input type="text" matInput formControlName="username" placeholder="Apelido">
          @if (getControlError('username')) {
            <mat-error>{{  getControlError('username') }}</mat-error>
          }
        </mat-form-field>

        <mat-form-field class="w-full col-span-2" appearance="outline">
          <mat-label>E-mail</mat-label>
          <input type="email" matInput formControlName="email" placeholder="E-mail">
          @if (getControlError('email')) {
            <mat-error>{{  getControlError('email') }}</mat-error>
          }
        </mat-form-field>

        <mat-form-field class="w-full" appearance="outline">
          <mat-label>CPF</mat-label>
          <input type="text" mask="000.000.000-00" matInput formControlName="document" placeholder="CPF">
          @if (getControlError('document')) {
            <mat-error>{{  getControlError('document') }}</mat-error>
          }
        </mat-form-field>

        <mat-form-field class="w-full" appearance="outline">
          <mat-label>Celular</mat-label>
          <input type="text" mask="(00) 00000-0000" matInput formControlName="phone" placeholder="Celular">
          @if (getControlError('phone')) {
            <mat-error>{{  getControlError('phone') }}</mat-error>
          }
        </mat-form-field>

        <mat-form-field class="w-full" appearance="outline">
          <mat-label>Senha</mat-label>
          <input type="password" matInput formControlName="password" placeholder="Senha">
          @if (getControlError('password')) {
            <mat-error>{{  getControlError('password') }}</mat-error>
          }
        </mat-form-field>

        <mat-form-field class="w-full" appearance="outline">
          <mat-label>Senha de Confirmação</mat-label>
          <input type="password" matInput formControlName="confirmationPassword" placeholder="Senha de Confirmação">
          @if (getControlError('confirmationPassword')) {
            <mat-error>{{  getControlError('confirmationPassword') }}</mat-error>
          }
        </mat-form-field>
       </div>
      </mat-tab>

      <mat-tab label="Endereço">
        <div class="mt-5 grid grid-cols-2 gap-3" formGroupName="address">
          <mat-form-field appearance="outline" class="w-full col-span-2">
            <mat-label>Cidades</mat-label>
            <mat-select formControlName="cityId">
              <mat-option [value]="''">Nenhuma</mat-option>
              @for (city of cities(); track city.id) {
                <mat-option [value]="city.id">{{  city.name + " - " + city.state.name }}</mat-option>
              }
            </mat-select>
            @if (getControlError('cityId')) {
              <mat-error>{{  getControlError('cityId') }}</mat-error>
            }
          </mat-form-field>

          <mat-form-field class="w-full" appearance="outline">
            <mat-label>Rua</mat-label>
            <input type="text" matInput formControlName="street" placeholder="Rua">
            @if (getControlError('street')) {
              <mat-error>{{  getControlError('street') }}</mat-error>
            }
          </mat-form-field>

          <mat-form-field class="w-full" appearance="outline">
            <mat-label>Bairro</mat-label>
            <input type="text" matInput formControlName="neighborhood" placeholder="Bairro">
            @if (getControlError('neighborhood')) {
              <mat-error>{{  getControlError('neighborhood') }}</mat-error>
            }
          </mat-form-field>

          <mat-form-field class="w-full" appearance="outline">
            <mat-label>CEP</mat-label>
            <input type="text" matInput mask="00000-000" formControlName="zipCode" placeholder="CEP">
            @if (getControlError('zipCode')) {
              <mat-error>{{  getControlError('zipCode') }}</mat-error>
            }
          </mat-form-field>

          <mat-form-field class="w-full" appearance="outline">
            <mat-label>Número</mat-label>
            <input type="number" matInput formControlName="number" placeholder="Número">
            @if (getControlError('number')) {
              <mat-error>{{  getControlError('number') }}</mat-error>
            }
          </mat-form-field>
        </div>
      </mat-tab>

    </mat-tab-group>


    <div *ngIf="!isDetails()" formGroupName="address" class="grid grid-cols-2 gap-4 mt-3 fade-in">
      <span class="flex flex-col gap-1 col-span-2">
        <label for="" class="text-sm">Cidade</label>
        <select formControlName="cityId" class="border border-black border-opacity-30 rounded-md p-2 text-sm placeholder:text-black placeholder:opacity-75">
          <option selected value="" disabled>Selecione</option>
          @for (city of cities(); track city.id) {
            <option [ngValue]="city.id">{{  city.name + " - " + city.state.name }}</option>
          }
        </select>
        @if (this.form.controls.address.controls.cityId.invalid && this.form.controls.address.controls.cityId.dirty) {
          <span class="text-xs text-red-600">{{ getControlError('address.cityId') }}</span>
        }
      </span>
      <span class="flex flex-col gap-1">
        <label for="" class="text-sm">Rua</label>
        <input formControlName="street" type="text" class="border border-black border-opacity-30 rounded-md p-2 text-sm placeholder:text-black placeholder:opacity-75" placeholder="Rua" >
        @if (this.form.controls.address.controls.street.invalid && this.form.controls.address.controls.street.dirty) {
          <span class="text-xs text-red-600">{{ getControlError('address.street') }}</span>
        }
      </span>
      <span class="flex flex-col gap-1">
        <label for="" class="text-sm">Bairro</label>
        <input formControlName="neighborhood" type="text" class="border border-black border-opacity-30 rounded-md p-2 text-sm placeholder:text-black placeholder:opacity-75" placeholder="Bairro" >
        @if (this.form.controls.address.controls.neighborhood.invalid && this.form.controls.address.controls.neighborhood.dirty) {
          <span class="text-xs text-red-600">{{ getControlError('address.neighborhood') }}</span>
        }
      </span>
      <span class="flex flex-col gap-1">
        <label for="" class="text-sm">Código Postal</label>
        <input formControlName="zipCode" mask="00000-000" type="text" class="border border-black border-opacity-30 rounded-md p-2 text-sm placeholder:text-black placeholder:opacity-75" placeholder="Código Postal" >
        @if (this.form.controls.address.controls.zipCode.invalid && this.form.controls.address.controls.zipCode.dirty) {
          <span class="text-xs text-red-600">{{ getControlError('address.zipCode') }}</span>
        }
      </span>
      <span class="flex flex-col gap-1">
        <label for="" class="text-sm">Número</label>
        <input formControlName="number" type="text" class="border border-black border-opacity-30 rounded-md p-2 text-sm placeholder:text-black placeholder:opacity-75" placeholder="Número" >
        @if (this.form.controls.address.controls.number.invalid && this.form.controls.address.controls.number.dirty) {
          <span class="text-xs text-red-600">{{ getControlError('address.number') }}</span>
        }
      </span>
    </div>

    <button mat-raised-button color="primary" class="!h-12 w-full mt-4">Cadastrar</button>
  </form>
</div>
