<div class="flex gap-4">
  <div class="items-center hover:bg-[#5869A6]  hover:bg-opacity-90 min-w-5 min-h-5 flex justify-center rounded-full cursor-pointer">
    <img src="assets/icons/dashboard/arrow-left.svg" class="w-1.5">
  </div>
  <ul class="flex gap-3 text-xs">
    <li class="cursor-pointer bg-[#5869A6] flex-1 min-w-5 min-h-5 flex text-white items-center justify-center rounded-full hover:text-white">1</li>
    <li class="cursor-pointer hover:bg-[#5869A6]  flex-1 min-w-5 min-h-5 flex items-center justify-center rounded-full hover:text-white">2</li>
    <li class="cursor-pointer hover:bg-[#5869A6] flex-1 min-w-5 min-h-5 flex items-center justify-center rounded-full hover:text-white">3</li>
    <li class="cursor-pointer hover:bg-[#5869A6] flex-1 min-w-5 min-h-5 flex items-center justify-center rounded-full hover:text-white">5</li>
    <li class="cursor-pointer hover:bg-[#5869A6] flex-1 min-w-5 min-h-5 flex items-center justify-center rounded-full hover:text-white">6</li>
    <li class="cursor-pointer hover:bg-[#5869A6] flex-1 min-w-5 min-h-5 flex items-center justify-center rounded-full hover:text-white">7</li>
  </ul>
  <div class="items-center hover:bg-[#5869A6]  hover:bg-opacity-90 min-w-5 min-h-5 flex justify-center rounded-full cursor-pointer">
    <img src="assets/icons/dashboard/arrow-right.svg" class="w-1.5">
  </div>
</div>
