<header class="shadow-xl   p-3 justify-between sticky top-0 left-0 flex  z-20 bg-base-to-top w-full">
  <div class="flex items-center gap-4">
    <app-menu-hamburguer/>
    <h1 class="text-xl  text-white font-medium capitalize">{{ currentTitle() }}</h1>
  </div>
  <section class="flex gap-2 items-center">
    <div class="flex gap-3 px-2 text-white cursor-pointer" matRipple [matMenuTriggerFor]="menu" (click)="openMenu.set(!openMenu())">
      <span>
        <h1 class="text-sm  opacity-95 font-medium">{{ userInfo()?.name }}</h1>
        <p class="text-xs text-end opacity-80">{{ userInfo()?.roles ?? [] | userRole }}</p>
      </span>
      <div class="w-10 h-10 rounded-full bg-white relative">
        @if (!userPhoto()) {
          <img src="assets/images/sem-foto.png" class="rounded-full object-cover h-full w-full">
        } @else {
          <img class="h-full w-full rounded-full object-cover" [src]="userPhoto()" >
        }
        <div class="absolute right-0 bottom-0 bg-white mat-elevation-z2 rounded-full w-3 h-3 flex items-center justify-center">
          @if(openMenu()) {
            <img src="assets/icons/arrow-down.png" class="w-2 transition-all" style="transform: rotate(180deg); ">
          } @else {
            <img src="assets/icons/arrow-down.png" class="w-2">
          }
        </div>
      </div>
      <mat-menu #menu="matMenu" class="menu mt-4 mr-2">
        <button mat-menu-item class="hover-after-h" (click)="showProfileMenu()">
          <div class="flex gap-3 items-center text-white">
            <div class="bg-white flex justify-center items-center rounded-full w-6 h-6">
              <i class="bi bi-person text-lg text-black"></i>
            </div>
            <span class="font-light">Perfil</span>
          </div>
        </button>
        <button mat-menu-item class="hover-after-h" (click)="openExitDialog()">
          <div class="flex gap-3 items-center text-white">
            <div class="bg-white flex justify-center items-center rounded-full w-6 h-6">
              <i class="bi bi-box-arrow-right text-base relative left-0.5 text-black"></i>
            </div>

            <span class="font-light">Sair</span>
          </div>
        </button>
      </mat-menu>
    </div>
    @if (authService.hasRole('ADMIN') && solicitationCount()) {
      <div class="mr-3 ms-2 relative top-0.5 right-2 cursor-pointer" routerLink="/dashboard/usuarios-acesso">
        <i class="bi bi-bell-fill text-white text-xl cursor-pointer" pBadge severity="info" [value]="solicitationCount()"></i>
      </div>
    }

  </section>
</header>

