<header class="shadow-xl  p-3 justify-between flex bg-base-to-top absolute w-full z-50">
  <div class="flex items-center gap-4">
    <app-menu-hamburguer/>
    <h1 class="text-xl  text-white font-medium">{{ currentTitle() }}</h1>
  </div>
  <div class="flex gap-3 px-2 text-white cursor-pointer" matRipple [matMenuTriggerFor]="menu" (click)="openMenu.set(!openMenu())">
    <span>
      <h1 class="text-sm  opacity-95 font-medium">{{ userInfo()?.name }}</h1>
      <p class="text-xs text-end opacity-80">{{ userInfo()?.roles ?? [] | userRole }}</p>
    </span>
    <div class="w-10 h-10 rounded-full bg-white relative">
      @if (!userPhoto()) {
        <img src="assets/images/sem-foto.png" class="rounded-full object-cover h-full w-full">
      } @else {
        <img class="h-full w-full rounded-full object-cover" [src]="userPhoto()" >
      }
      <div class="absolute right-0 bottom-0 bg-white rounded-full w-3 h-3 flex items-center justify-center">
        @if(openMenu()) {
          <img src="assets/icons/dashboard/seta-para-baixo.png" class="w-2  transition-all" style="transform: rotate(180deg)">
        } @else {
          <img src="assets/icons/dashboard/seta-para-baixo.png" class="w-2">
        }
      </div>
    </div>
    <mat-menu #menu="matMenu" class="menu mt-4">
      <button mat-menu-item class="hover-after-h" (click)="showProfileMenu()">
        <div class="flex gap-3 items-center text-white">
          <i class="bi bi-person ms-3 text-lg"></i>
          <span class="font-light">Perfil</span>
        </div>
      </button>
      <button mat-menu-item class="hover-after-h">
        <div class="flex gap-3 items-center text-white">
          <i class="bi bi-person-raised-hand ms-3 text-lg"></i>
          <span class="font-light">Contato</span>
        </div>
      </button>
      <button mat-menu-item class="hover-after-h">
        <div class="flex gap-3 items-center text-white">
          <i class="bi bi-box-arrow-right ms-3 text-lg"></i>
          <span class="font-light">Sair</span>
        </div>
      </button>
    </mat-menu>
  </div>
</header>


    <!-- @if(openProfile()) {
      <ul class="mr-1 cursor-pointer rounded-md shadow-lg py-1  bg-gradient-to-b from-[#005792] to-[#0D356A] max-w-[200px] w-full  flex flex-col   border-opacity-30 absolute right-[2%] z-20 top-[120%]">
        <li (click)="showProfileMenu()" class="py-1.5 hover:bg-[#014674] hover:bg-opacity-70 flex gap-3 items-center px-3  after:left-0 after:block after:w-1 after:h-full after:absolute after:hover:bg-white relative">
          <i class="bi bi-person text-white ms-3 text-lg"></i>
          <span class="text-sm font-medium text-white">Perfil</span>
        </li>
        <li class="py-1.5 hover:bg-[#014674] hover:bg-opacity-70 flex gap-3 items-center px-3  after:left-0 after:block after:w-1 after:h-full after:absolute after:hover:bg-white relative">
          <i class="bi bi-person-raised-hand text-white ms-3 text-lg"></i>
          <span class="text-sm font-medium text-white">Suporte</span>
        </li>
        <li class="py-1.5 hover:bg-[#014674] hover:bg-opacity-70 flex gap-3 items-center px-3  after:left-0 after:block after:w-1 after:h-full after:absolute after:hover:bg-white relative">
          <i class="bi bi-box-arrow-right text-white ms-3 text-lg"></i>
          <span class="text-sm font-medium text-white">Sair</span>
        </li>
        <div class="triangle"></div>
      </ul>
    } -->
