<div class="mat-elevation-z8 h-[60vh] overflow-auto" tabindex="0">
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? toggleAllRows() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()" color="primary">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)" color="primary">
        </mat-checkbox>
      </td>
    </ng-container>


    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let row"> {{ row.id }} </td>
    </ng-container>


    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Data e Hora  </th>
      <td mat-cell *matCellDef="let row"> {{ row.createdAt | date: 'dd/MM/YYYY HH:mm:ss' }}</td>
    </ng-container>

    <ng-container matColumnDef="diagnosis">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Diagnóstico </th>
      <td mat-cell *matCellDef="let row"> {{ row.diagnosis }} </td>
    </ng-container>

    <ng-container matColumnDef="comments">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Observações </th>
      <td mat-cell *matCellDef="let row"> {{ row.comments }} </td>
    </ng-container>

    <ng-container matColumnDef="dateTime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Data e Hora da Consulta </th>
      <td mat-cell *matCellDef="let row">
          <span class="block px-2">{{ row.consult.dateTime | date: 'dd/MM/YYYY HH:mm:ss' }}</span>
    </ng-container>


    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
      <td mat-cell *matCellDef="let row">
          <span class="block px-2">{{ row.consult.status | consultStatus }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Ações </th>
      <td mat-cell *matCellDef="let row">
        <div>
          <button
          pButton
          pRipple
          severity="secondary" text rounded [matMenuTriggerFor]="menu">
          <i class="bi bi-three-dots-vertical"></i>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item [routerLink]="['/dashboard', 'vacinas', 'atualizar', row.id]">
            <span class="text-sm flex items-center gap-2">
              <i class="bi bi-pencil-square text-black"></i>
              Editar
            </span>
          </button>
          <button mat-menu-item [routerLink]="['/dashboard', 'vacinas', 'visualizar', row.id]">
            <span class="text-sm flex items-center gap-2">
              <i class="bi bi-eye-fill text-black"></i>
              Visualizar
            </span>
          </button>
        </mat-menu>

        </div>
     </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  @if (!data.length) {
    <p class="text-sm justify-center py-5 font-light flex items-center gap-2">
      <i class="bi bi-database-fill-x text-lg text-[#005691]"></i>
      Não há nenhuma vacina cadastrada
    </p>
  }
</div>
