<div class="h-full overflow-auto flex flex-col">
  <header class="h-[100px] fixed top-0 left-0 w-full">
    <nav class="flex justify-between bg-[#3F51B5] text-white px-12 py-5">
      <div class="flex items-center gap-4">
        <img src="assets/icons/squirrel-white.png" class="w-10 mr-3 ">
        <span class="text-2xl font-bold">SIGVet</span>
      </div>
      <ul class="flex items-center gap-10 list-none">
        <li class="cursor-pointer hover:text-gray-400">Soluções</li>
        <li class="cursor-pointer hover:text-gray-400">Planos e Preços</li>
        <li class="cursor-pointer hover:text-gray-400">Suporte</li>
        <li class="bg-[#CCDDE9] px-5 py-2 rounded-md text-black hover:bg-[#014674] hover:text-white cursor-pointer">
          Experimente Grátis</li>
        <li routerLink="/login"
          class="bg-[#CCDDE9] px-5 py-2 rounded-md text-black hover:bg-[#014674] hover:text-white cursor-pointer" routerLink="/login">Entrar
        </li>
      </ul>
    </nav>
  </header>

  <div class="flex-1 min-h-[700px]">
    asdgajhsgdjagsdhj
  </div>

  <footer class="bg-[#3F51B5] text-white py-5">
    <div class="flex justify-around">
      <div class="py-12">
        <ul class="flex flex-col gap-2 list-none">
          <span class="font-bold">INSTITUCIONAL</span>
          <li class="cursor-pointer hover:text-gray-400 text-sm">Por que o SIGVet?</li>
          <li class="cursor-pointer hover:text-gray-400 text-sm">Planos e Preços</li>
          <li class="cursor-pointer hover:text-gray-400 text-sm">Fale Conosco</li>
          <li class="cursor-pointer hover:text-gray-400 text-sm">Blog</li>
        </ul>
      </div>
      <div class="py-12">
        <ul class="flex flex-col gap-2 list-none">
          <span class="font-bold">INFORMAÇÕES LEGAIS</span>
          <li class="cursor-pointer hover:text-gray-400 text-sm">Política de Privacidade</li>
          <li class="cursor-pointer hover:text-gray-400 text-sm">Termos de Uso</li>
        </ul>
      </div>
      <div class="py-12">
        <ul class="flex flex-col gap-2 list-none">
          <span class="font-bold">SUPORTE</span>
          <li class="cursor-pointer hover:text-gray-400 text-sm">Central de Ajuda</li>
          <li class="cursor-pointer hover:text-gray-400 text-sm">Perguntas Frequentes</li>
          <li class="cursor-pointer hover:text-gray-400 text-sm">Atualizações da Plataforma</li>
          <li class="cursor-pointer hover:text-gray-400 text-sm">Treinamento Personalizado</li>
        </ul>
      </div>
      <div class="py-12">
        <ul class="flex flex-col gap-2 list-none">
          <span class="font-bold">ACESSO</span>
          <li class="cursor-pointer hover:text-gray-400 text-sm">Soluções</li>
          <li class="cursor-pointer hover:text-gray-400 text-sm">Experimente Grátis</li>
          <li class="cursor-pointer hover:text-gray-400 text-sm">Entrar</li>
        </ul>
      </div>
    </div>
    <div class="flex justify-end border-t mt-5 pb-2">
      <span class="me-12 text-sm">Desenvolvido com ❤️ por Gabriel e Livia</span>
    </div>
  </footer>

</div>
