<li class="flex  gap-12 shadow-lg border-[#0D356A] border-2 border-opacity-15 shadow-slate-300    rounded-md bg-white  max-w-[90vw] xl:max-w-[100vw] overflow-hidden overflow-x-auto">
  <div class="area-1 gap-4 max-w-[250px] w-full ">
    <div class="flex justify-center items-center md:min-w-[250px] relative h-full">
        <img src="assets/images/client.jpg" class="w-full h-full object-fit  object-center">
    </div>
  </div>
  <div class="area-2 flex-1 flex flex-col gap-4 py-5 pe-5 justify-center">
    <section class="border-b-2 border-black border-opacity-15 pb-3">
      <div class="flex justify-between">
        <span class="font-medium text-xl after:mt-1 after:z-10 relative block after:absolute after:bottom-0 after:block after:w-16  after:h-0.5 after:bg-[#3479BF]">Taís Carla</span>
        <button class="flex gap-3 items-center bg-gradient-to-b from-[#005792] to-[#0D356A] text-white font-medium text-xs uppercase hover:opacity-70 rounded-md p-1.5 px-4">
          <i class="bi bi-pencil-square text-base"></i>
          Editar
        </button>
      </div>
      <span class="text-sm opacity-60 mt-3 block">Castelo, Espírito Santo</span>
    </section>
    <section class="mt-3">
      <ul class="flex flex-col gap-4">
        <li class="flex gap-5 items-center">
          <span class="opacity-70 text-sm">Email:</span>
          <span class="opacity-90 text-sm">gabrielcardoso_stelohotmail.com</span>
        </li>
        <li class="flex gap-5 items-center">
          <span class="opacity-70  text-sm">Documento:</span>
          <span class="opacity-90 text-sm">173.645.097-20</span>
        </li>
        <li class="flex gap-5 items-center">
          <span class="opacity-70  text-sm">Telefone:</span>
          <span class="opacity-90 text-sm">(28) 99950-5410</span>
        </li>
      </ul>
    </section>
  </div>
</li>
