<li class="flex gap-12 shadow-md shadow-slate-300 p-5 border border-black border-opacity-10 rounded-md bg-[#74E0D3] bg-opacity-20 max-w-[90vw] xl:max-w-[100vw] overflow-hidden overflow-x-auto">
 <div class="area-1 gap-4 max-w-[250px] w-full">
    <div class="flex justify-center items-center pt-3">
      <div class="max-w-[150px] max-h-[150px] w-full h-full relative  rounded-full shadow-md border-2">
        <img src="assets/images/client.jpg" class="w-full h-full object-fit rounded-full object-center">
        <span class="absolute top-0 right-0 cursor-pointer  p-2 rounded-full border border-black border-opacity-20 bg-slate-200 borderbg-opacity-90 shadow-xl">
          <img src="assets/icons/dashboard/dslr-camera.png" class="w-6">
        </span>
      </div>
    </div>
    <div class="w-full flex flex-col items-center justify-center mx-auto mt-8 max-w-[70%]">
      <ul class="flex gap-1 h-1.5 w-full">
        <li class="bg-[#B3E000] flex-1 min-w-3 rounded-md"></li>
        <li class="bg-[#B3E000] flex-1 min-w-3 rounded-md"></li>
        <li class="bg-[#B3E000] flex-1 min-w-3 rounded-md"></li>
        <li class="bg-[#B3E000] flex-1 min-w-3 rounded-md"></li>
        <li class="bg-[#B3E000] flex-1 min-w-3 rounded-md"></li>
        <li class="bg-[#B3E000] flex-1 min-w-3 rounded-md"></li>
        <li class="bg-[#B3E000] flex-1 min-w-3 rounded-md"></li>
        <li class="bg-[#B0B3B8] flex-1 min-w-3 rounded-md"></li>
        <li class="bg-[#B0B3B8] flex-1 min-w-3 rounded-md"></li>
        <li class="bg-[#B0B3B8] flex-1 min-w-3 rounded-md"></li>
      </ul>

      <section class="flex flex-wrap mt-4 gap-8">
        <span class="flex flex-col items-center flex-1">
          <span class="text-xs opacity-50 uppercase flex items-center gap-1">Animais</span>
          <span class="text-sm">300</span>
        </span>
        <span class="flex flex-col  items-center flex-1">
          <span class="text-xs  opacity-50 uppercase flex items-center gap-1">Atendimentos</span>
          <span class="text-sm">30</span>
        </span>
      </section>

    </div>
 </div>

 <div class="area-2 flex-1 flex flex-col gap-4">
    <section  class="border-b-2 border-black border-opacity-30 pb-5">
      <div class="flex justify-between">
        <span class="font-medium text-xl">Taís Carla</span>
        <button class="flex gap-3 items-center bg-account-tertiary text-white font-medium text-xs uppercase hover:opacity-70 rounded-md p-1.5 px-4">
          <img src="assets/icons/dashboard/editar.png" class="w-6">
          Editar
        </button>
      </div>
      <span class="text-sm opacity-60">Castelo, Espírito Santo</span>
    </section>
    <section>
      <ul class="flex flex-col gap-4">
        <li class="flex gap-5 items-center">
          <span class="opacity-70 text-sm">Email:</span>
          <span class="opacity-90 text-sm">gabrielcardoso_stelohotmail.com</span>
        </li>
        <li class="flex gap-5 items-center" >
          <span class="opacity-70  text-sm">Identificação:</span>
          <span class="opacity-90 text-sm">173.645.097-20</span>
        </li>
        <li class="flex gap-5 items-center">
          <span class="opacity-70  text-sm">Cidade:</span>
          <span class="opacity-90 text-sm">Castelo</span>
        </li>
        <li class="flex gap-5 items-center">
          <span class="opacity-70  text-sm">Estado:</span>
          <span class="opacity-90 text-sm">Espírito Santo</span>
        </li>
        <li class="flex gap-5 items-center">
          <span class="opacity-70  text-sm">Telefone:</span>
          <span class="opacity-90 text-sm">(28) 99950-5410</span>
        </li>

      </ul>
    </section>
  </div>
</li>
