<ul class="flex justify-between flex-wrap mt-3  gap-y-3 px-4">
  <li class="text-base cursor-pointer flex flex-col items-center font-medium text-brand-senary after:w-40 after:h-0.5  after:bg-brand-senary after:block after:mt-1">
    Conta Configurações
  </li>
  <li class="text-base cursor-pointer flex flex-col items-center font-medium after:w-40 after:h-0.5  after:block after:mt-1">
    Login & Segurança
  </li>
  <li class="text-base cursor-pointer flex flex-col items-center font-medium after:w-40 after:h-0.5  after:block after:mt-1">
    Notificações
  </li>
  <li class="text-base cursor-pointer flex flex-col items-center font-medium after:w-40 after:h-0.5  after:block after:mt-1">
    Interface
  </li>
</ul>
