<div class="min-w-screen overflow-hidden overflow-x-auto">
  <table class="w-full mt-5 border rounded-md shadow-xl shadow-black">
    <thead class="bg-[#005792]  text-white shadow-xl shadow-gray-300 border border-black border-opacity-20">
      <tr class="text-xs text-start">
        <th class="text-start">EAN</th>
        <th class="text-start">Foto</th>
        <th class="text-start">Nome</th>
        <th class="text-start">Categoria</th>
        <th class="text-start">Ativo</th>
        <th class="text-start">Estoque</th>
        <th class="text-start break-words">Preço Unitário R$</th>
        <th class="text-start">Vence</th>
        <th class="text-start">
          <span class="ps-6">Ações</span>
        </th>
      </tr>
    </thead>
    <tbody class="bg-brand-quaternary">
      <tr class="text-xs">
        <td class="font-mono font-semibold">123456789</td>
        <td>
          <img src="assets/images/vacina2.png" class="min-w-14 h-14 object-cover">
        </td>
        <td class="break-words uppercase font-medium">
          Vacina contra a raiva
        </td>
        <td>
          <select>
            <option>Cães</option>
            <option>Bebidas</option>
            <option>Bebidas</option>
            <option>Bebidas</option>
          </select>
        </td>
        <td>
          <div class="bg-red-700  rounded-xl w-12 h-5 flex justify-start items-center">
            <div class="w-4 h-4 bg-white rounded-full ms-1"></div>
          </div>
        </td>
        <td>
          <span>985</span>
        </td>
        <td>
          <span>R$ 985</span>
        </td>
        <td>
          <span class="font-semibold text-green-500">Indeterminado</span>
        </td>
        <td>
          <div class="flex gap-4 items-center">
            <span class="p-2 rounded-full bg-brand-tertiary bg-opacity-40 hover:scale-105 hover:bg-green-100 cursor-pointer">
              <img src="assets/icons/eye.png" class="object-contain  min-w-6 sm:w-6">
            </span>
            <span class="p-3 rounded-full bg-brand-tertiary bg-opacity-40 cursor-pointer hover:scale-105 hover:bg-red-100 transition-all">
              <img src="assets/icons/trash-can.png" class=" object-contain min-w-4 sm:w-4">
            </span>
          </div>
        </td>
      </tr>

      <tr class="text-xs border-t">
        <td class="font-mono font-semibold">123456789</td>
        <td>
            <img src="assets/images/vacina2.png" class="min-w-14 h-14 object-cover">
        </td>
        <td class="break-words uppercase font-medium">
          Vacina polivalente (V8 ou V10)
        </td>
        <td>
          <select>
            <option>Cinomose</option>
            <option>Bebidas</option>
            <option>Bebidas</option>
            <option>Bebidas</option>
          </select>
        </td>
        <td>
          <div class="bg-red-700  rounded-xl w-12 h-5 flex justify-start items-center">
            <div class="w-4 h-4 bg-white rounded-full ms-1"></div>
          </div>
        </td>
        <td>
          <span>985</span>
        </td>
        <td>
          <span>R$ 985</span>
        </td>
        <td>
          <span class="font-semibold text-green-500">Indeterminado</span>
        </td>
        <td>
          <div class="flex gap-4 items-center">
            <span class="p-2 rounded-full bg-brand-tertiary bg-opacity-40 hover:scale-105 hover:bg-green-100 cursor-pointer">
              <img src="assets/icons/eye.png" class="object-contain  min-w-6 sm:w-6">
            </span>
            <span class="p-3 rounded-full bg-brand-tertiary bg-opacity-40 cursor-pointer hover:scale-105 hover:bg-red-100 transition-all">
              <img src="assets/icons/trash-can.png" class=" object-contain w-4">
            </span>
          </div>
        </td>
      </tr>

      <tr class="text-xs border-t">
        <td class="font-mono font-semibold">123456789</td>
        <td>
            <img src="assets/images/vacina2.png" class="min-w-14 h-14 object-cover">
        </td>
        <td class="break-words uppercase font-medium">
          Vacina contra a tosse dos canis
        </td>
        <td>
          <select>
            <option>Felina</option>
            <option>Bebidas</option>
            <option>Bebidas</option>
            <option>Bebidas</option>
          </select>
        </td>
        <td>
          <div class="bg-red-700  rounded-xl w-12 h-5 flex justify-start items-center">
            <div class="w-4 h-4 bg-white rounded-full ms-1"></div>
          </div>
        </td>
        <td>
          <span>985</span>
        </td>
        <td>
          <span>R$ 985</span>
        </td>
        <td>
          <span class="font-semibold text-green-500">Indeterminado</span>
        </td>
        <td>
          <div class="flex gap-4 items-center">
            <span class="p-2 rounded-full bg-brand-tertiary bg-opacity-40 hover:scale-105 hover:bg-green-100 cursor-pointer">
              <img src="assets/icons/eye.png" class="object-contain  min-w-6 sm:w-6">
            </span>
            <span class="p-3 rounded-full bg-brand-tertiary bg-opacity-40 cursor-pointer hover:scale-105 hover:bg-red-100 transition-all">
              <img src="assets/icons/trash-can.png" class=" object-contain min-w-4 sm:w-4">
            </span>
          </div>
        </td>
      </tr>

      <tr class="text-xs border-t">
        <td class="font-mono font-semibold">123456789</td>
        <td>
          <img src="assets/images/vacina2.png" class="min-w-14 h-14 object-cover">
        </td>
        <td class="break-words uppercase font-medium">
          Vacina contra leptospirose
        </td>
        <td>
          <select>
            <option>Aves</option>
            <option>Bebidas</option>
            <option>Bebidas</option>
            <option>Bebidas</option>
          </select>
        </td>
        <td>
          <div class="bg-green-700  rounded-xl w-12 h-5 flex justify-start items-center">
            <div class="w-4 h-4 bg-white rounded-full ms-1"></div>
          </div>
        </td>
        <td>
          <span>985</span>
        </td>
        <td>
          <span>R$ 985</span>
        </td>
        <td>
          <span class="font-semibold text-green-500">Indeterminado</span>
        </td>
        <td>
          <div class="flex gap-4 items-center">
            <span class="p-2 rounded-full bg-brand-tertiary bg-opacity-40 hover:scale-105 hover:bg-green-100 cursor-pointer">
              <img src="assets/icons/eye.png" class="object-contain  min-w-6 sm:w-6">
            </span>
            <span class="p-3 rounded-full bg-brand-tertiary bg-opacity-40 cursor-pointer hover:scale-105 hover:bg-red-100 transition-all">
              <img src="assets/icons/trash-can.png" class=" object-contain min-w-4 sm:w-4">
            </span>
          </div>
        </td>
      </tr>

      <tr class="text-xs border-t">
        <td class="font-mono font-semibold">123456789</td>
        <td>
          <img src="assets/images/vacina2.png" class="min-w-14 h-14 object-cover">
        </td>
        <td class="break-words uppercase font-medium">
          Vacina contra a panleucopenia felina
        </td>
        <td>
          <select>
            <option>Felinos</option>
            <option>Bebidas</option>
            <option>Bebidas</option>
            <option>Bebidas</option>
          </select>
        </td>
        <td>
          <div class="bg-green-700  rounded-xl w-12 h-5 flex justify-start items-center">
            <div class="w-4 h-4 bg-white rounded-full ms-1"></div>
          </div>
        </td>
        <td>
          <span>985</span>
        </td>
        <td>
          <span>R$ 985</span>
        </td>
        <td>
          <span class="font-semibold text-green-500">Indeterminado</span>
        </td>
        <td>
          <div class="flex gap-4 items-center">
            <span class="p-2 rounded-full bg-brand-tertiary bg-opacity-40 hover:scale-105 hover:bg-green-100 cursor-pointer">
              <img src="assets/icons/eye.png" class="object-contain min-w-6 sm:w-6">
            </span>
            <span class="p-3 rounded-full bg-brand-tertiary bg-opacity-40 cursor-pointer hover:scale-105 hover:bg-red-100 transition-all">
              <img src="assets/icons/trash-can.png" class=" object-contain min-w-4 sm:w-4">
            </span>
          </div>
        </td>
      </tr>

      <tr class="text-xs border-t">
        <td class="font-mono font-semibold">123456789</td>
        <td>
          <img src="assets/images/vacina2.png" class="min-w-14 h-14 object-cover">
        </td>
        <td class="break-words uppercase font-medium">
          Vacina tríplice felina (FVRCP)
        </td>
        <td>
          <select>
            <option>Aves</option>
            <option>Bebidas</option>
            <option>Bebidas</option>
            <option>Bebidas</option>
          </select>
        </td>
        <td>
          <div class="bg-green-700  rounded-xl w-12 h-5 flex justify-start items-center">
            <div class="w-4 h-4 bg-white rounded-full ms-1"></div>
          </div>
        </td>
        <td>
          <span>985</span>
        </td>
        <td>
          <span>R$ 985</span>
        </td>
        <td>
          <span class="font-semibold text-green-500">Indeterminado</span>
        </td>
        <td>
          <div class="flex gap-4 items-center">
            <span class="p-2 rounded-full bg-brand-tertiary bg-opacity-40 hover:scale-105 hover:bg-green-100 cursor-pointer">
              <img src="assets/icons/eye.png" class="object-contain min-w-6 sm:w-6">
            </span>
            <span class="p-3 rounded-full bg-brand-tertiary bg-opacity-40 cursor-pointer hover:scale-105 hover:bg-red-100 transition-all">
              <img src="assets/icons/trash-can.png" class=" object-contain min-w-4 sm:w-4">
            </span>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
