<div class="w-full mat-elevation-z3 rounded-md custom-border">
  <mat-card class="!rounded-md">
    <mat-card-header>
      <div class="flex justify-between w-full">
        <div class="flex gap-3">
          @if (!veterinarian.photoUrl) {
            <img class="w-20 h-20 rounded-full" src="assets/images/sem-foto.png">
          } @else {
            <img class="w-20 h-20 rounded-full" [src]="veterinarian.photoUrl">
          }
        <div class="flex flex-col gap-2">
            <span class="text-base font-semibold">
              {{ veterinarian.name }}
            </span>
            <span class="text-sm font-normal opacity-90">{{ veterinarian.specialty }}</span>
            @if (veterinarian.address) {
              <span class="text-sm opacity-60">{{ veterinarian.address.city.name + ', ' + veterinarian.address.city.state.name }}</span>
            }
          <span class="text-sm flex items-center gap-2">Criado em:
              {{ veterinarian.createdAt | date: 'dd/MM/YYYY' }}
            </span>
          <span class="text-sm flex items-center gap-2">Última atualização em:
              {{ veterinarian.updatedAt | date: 'dd/MM/YYYY' }}
           </span>
        </div>
       </div>
       <div>
        <span class="flex gap-2">
          <button mat-mini-fab color="primary" class="!bg-[#326690]" matTooltip="Visualizar" [routerLink]="['/dashboard', 'veterinarios', 'visualizar', veterinarian.id]">
            <i class="bi bi-eye-fill text-xl "></i>
          </button>
          <button mat-mini-fab color="primary" matTooltip="Editar" (click)="edit()" [routerLink]="['/dashboard', 'veterinarios', 'atualizar', veterinarian.id]">
            <i class="bi bi-pencil-square text-xl"></i>
          </button>
          <button mat-mini-fab color="warn" matTooltip="Remover" (click)="closeDialog.set(false)">
            <i class="bi bi-person-dash-fill text-xl"></i>
          </button>
       </span>
       </div>
      </div>
    </mat-card-header>
    <mat-card-content>
      <div class="mt-4 p-2"></div>
    </mat-card-content>
    <mat-card-actions>
      <div class="flex justify-between w-full">
        <div>
          <button mat-button color="primary" matTooltip="{{ veterinarian.email }}">
            <i class="bi bi-envelope-at-fill"></i>
            Conversar
          </button>
          <button mat-button color="primary" matTooltip="{{ veterinarian.phone }}">
            <i class="bi bi-telephone-forward-fill"></i>
            Ligar
          </button>
        </div>
      </div>
    </mat-card-actions>
  </mat-card>
</div>


<p-dialog [showHeader]="false" [modal]="true" #dialog [visible]="!closeDialog()" [style]="{ width: '25rem' }">
  <div class="p-4">
    <div class="flex flex-col gap-2">
      <span class="font-semibold text-lg">Aviso</span>
      <span class="text-sm">Você tem certeza que desejar deletar esse veterinário?</span>
    </div>
    <div class="flex justify-end gap-3 mt-5">
      <button mat-button color="warn" (click)="closeDialog.set(true)">Cancelar</button>
      <button mat-button color="primary" (click)="remove()">Deletar</button>
    </div>
  </div>
</p-dialog>


