<div class="bg-black bg-opacity-60 pt-5 absolute top-0 left-0 w-full h-full z-[999] flex items-center justify-center">
  <section *ngIf="veterinarian" class="p-5 overflow-auto max-h-[90vh] bg-white mat-elevation-z4 rounded-md animate-slide-in flex gap-2 max-w-[700px] w-full">
    <!-- 'id', 'name', 'manufacturer', 'lot', 'unitPrice', 'stock', 'expirationDate']; -->
    <aside class="flex-1 pb-4">
      <div class="flex justify-between mb-6 gap-2">
        <span class="text-2xl font-semibold flex items-center gap-2">
          <i class="bi bi-person-fill text-gray-600"></i>
          <span class="text-gray-600">Veterinário</span>
        </span>
        <button mat-raised-button color="primary" routerLink="/dashboard/veterinarios">Fechar</button>
      </div>
      <mat-tab-group>
        <mat-tab label="Profissional">
          <ul class="flex flex-col gap-4 ps-4 pb-3 mt-5">
            <li class="flex items-center gap-2 ps-2">
              <span class="font-medium text-base">ID:</span>
              <span class="text-base">{{ veterinarian.id }}</span>
            </li>
            <mat-divider></mat-divider>
            <li class="flex gap-2 ps-2">
              <span class="font-medium text-base">Nome:</span>
              <span class="text-base">{{ veterinarian.name }}</span>
            </li>
            <mat-divider></mat-divider>
            <li class="flex gap-2 ps-2">
              <span class="font-medium text-base">Nome de Usuário:</span>
              <span class="text-base capitalize">{{ veterinarian.username }}</span>
            </li>
            <mat-divider></mat-divider>
            <li class="flex gap-2 ps-2">
              <span class="font-medium text-base">E-mail:</span>
              <span class="text-base">{{ veterinarian.email }}</span>
            </li>
            <mat-divider></mat-divider>
            <li class="flex gap-2 ps-2">
              <span class="font-medium text-base">Documento:</span>
              <span class="text-base capitalize">{{ veterinarian.document }}</span>
            </li>
            <mat-divider></mat-divider>
            <li class="flex gap-2 ps-2">
              <span class="font-medium text-base">Telefone:</span>
              <span class="text-base capitalize">{{ veterinarian.phone }}</span>
            </li>
            <mat-divider></mat-divider>
            <li class="flex gap-2 ps-2">
              <span class="font-medium text-base">Especialidade:</span>
              <span class="text-base capitalize">{{ veterinarian.specialty }}</span>
            </li>
            <mat-divider></mat-divider>
            <li class="flex gap-2 ps-2">
              <span class="font-medium text-base">CRMV/UF:</span>
              <span class="text-base capitalize">{{ veterinarian.crmv }} - {{ veterinarian.crmvUf }}</span>
            </li>
          </ul>
        </mat-tab>
        <mat-tab label="Endereço">
          <ul *ngIf="veterinarian.address as address" class="flex flex-col gap-4 ps-4 pb-3 mt-5">
            <li class="flex items-center gap-2 ps-2">
              <span class="font-medium text-base">Rua:</span>
              <span class="text-base">{{ address.street }}</span>
            </li>
            <mat-divider></mat-divider>
            <li class="flex gap-2 ps-2">
              <span class="font-medium text-base">Bairro:</span>
              <span class="text-base">{{ address.neighborhood }}</span>
            </li>
            <mat-divider></mat-divider>
            <li class="flex gap-2 ps-2">
              <span class="font-medium text-base">Cidade:</span>
              <span class="text-base">{{ address.city.name }}, {{ address.city.state.name }}</span>
            </li>
            <mat-divider></mat-divider>
            <li class="flex gap-2 ps-2">
              <span class="font-medium text-base">CEP:</span>
              <span class="text-base capitalize">{{ address.zipCode }}</span>
            </li>
          </ul>
        </mat-tab>
      </mat-tab-group>
    </aside>
  </section>
</div>


