<div class="h-full flex justify-center items-center p-3 relative">
  <div id="account" class="p-2 py-5 sm:p-10 max-w-[530px] border-black border  w-full bg-brand-quaternary rounded-xl shadow-2xl">
    <div class="flex flex-col gap-3">
      <div class="flex flex-col items-center gap-1">
        <div class="flex items-center mb-1">
          <img src="assets/icons/squirrel.png" class="w-10 mr-3">
          <h1 class="font-bold text-4xl after:block after:h-[3px] after:bg-[#1C3455] after:w-10 text-blue-950">SIGVet</h1>
        </div>
        <p class="uppercase  text-xs font-mono opacity-85 text-center text-blue-950">Sistema Integrado de Gestão</p>
      </div>
      <form class="p-2 px-6" [formGroup]="form" (ngSubmit)="signIn()">

        <mat-form-field class="w-full" appearance="outline">
          <mat-label>Email ou Apelido</mat-label>
          <input type="text" matInput formControlName="emailOrUsername" placeholder="Email ou Apelido">
          @if (getControlError('emailOrUsername')) {
            <mat-error>{{  getControlError('emailOrUsername') }}</mat-error>
          }
        </mat-form-field>

        <mat-form-field class="w-full mt-3" appearance="outline">
          <mat-label>Senha</mat-label>
          <input type="password" matInput formControlName="password" placeholder="Senha">
          @if (getControlError('password')) {
            <mat-error>{{  getControlError('password') }}</mat-error>
          }
        </mat-form-field>

        <div class="flex flex-col">
          <p class="self-end text-sm mt-3 cursor-pointer hover:underline" (click)="openRecoverAccountModal.set(true)">Esqueceu sua senha?</p>
        </div>
        <button mat-raised-button color="primary" class="w-full !h-12 mt-3">Entrar</button>
        <span class="text-sm flex gap-2 mt-5 justify-center items-center">
          <p>Não tem uma conta?</p> <strong class="text-[#3d3d3d] hover:underline cursor-pointer font-medium" (click)="openAccountCreationModal.set(true)">Cadastre-se</strong>
        </span>
      </form>
    </div>
  </div>
</div>

<div class="absolute top-0 h-full w-full -z-10 flex flex-col">
  <div class="bg-[#3F51B5] flex-1"></div>
</div>

@if (openAccountCreationModal()) {
  <app-create-new-user [opened]="openAccountCreationModal()" (closedEvent)="openAccountCreationModal.set(false)"/>
}

@if (openRecoverAccountModal()) {
  <app-recover-user-password [opened]="openRecoverAccountModal()" (closedEvent)="openRecoverAccountModal.set(false)"/>
}
