@layer utilities {
  .bg-base-to-top {
    background: linear-gradient(to top, #2f3c87ee, #3848a1);
  }

  .bg-base-to-bottom {
    background: linear-gradient(to bottom, #354499, #2f3c87ee);
  }

  .custom-toast-position {
    top: 10%;
    right: 10px;
  }

  .custom-border {
    // border-color: rgba(13, 53, 106, 0.15);
    // border-width: 2px;
    // border-style: solid;
    border: 1px solid rgba(0, 0, 0, 0.3);
  }


  .hover-scale:hover {
    transform: scale(1.03) !important;
  }

  .active-link {
    background-color: #0b5c9b53;
    &::after {
      background-color: white;
    }
  }

  .hover-after-h {
    position: relative;

    &::after {
      content: '';
      display: block;
      height: 100%;
      position: absolute;
      width: 2px;
      left: 0;
      top: 0;
    }

    &:hover {
      background-color: #0b5c9b53;
      &::after {
        background-color: white;
      }

    }

  }

  .after_add_line {
    position: absolute;
    bottom: 0;
    &::after {
      content: '';
      display: block;
      @apply h-0.5 w-20 bg-[#3F51B5];
    }
  }
}
