<div class="dashboard-status flex flex-col gap-5">

  <h1 class="text-3xl font-bold mt-2">Dashboard</h1>

  <ul class="flex gap-5 flex-wrap">
    <li *ngIf="generalMetrics()" class="dashboard-status-item custom-border p-3 flex gap-3 flex-col bg-white mat-elevation-z2 min-h-36 min-w-[250px] rounded-xl shadow-xl cursor-pointer flex-1 hover-scale transition-all">
      <div class="flex justify-between flex-1 flex-wrap">
        <div class="flex flex-col gap-3">
          <h2 class="text-base opacity-90 ">Total de Clientes</h2>
          <p class="text-2xl font-bold">{{ generalMetrics()?.totalClientsCurrentMonth }}</p>
        </div>
        <div class="bg-blue-100 self-start p-4 rounded-xl ">
          <img src="assets/icons/dashboard/user.svg" class="min-w-7"/>
        </div>
      </div>
      <div class="flex gap-2 items-center flex-wrap ">
        @if (calcPercentForClients()! > 0) {
          <img src="assets/icons/elevacao.png" class="w-5">
          <span class="text-green-600 text-base">{{ calcPercentForClients() }}%</span>
          <p class="font-medium opacity-80 text-sm">Ganhos</p>
        } @else if (calcPercentForClients()! < 0) {
          <img src="assets/icons/elevacao-down.png" class="w-5" style="transform: rotate(180deg)">
          <span class="text-red-600 text-base">{{ calcPercentForClients() }}%</span>
          <p class="font-medium opacity-80 text-sm">Perdas</p>
        } @else {
          <i class="bi bi-clipboard-data-fill text-[#01548E]"></i>
          <span class="text-base">0%</span>
          <p class="font-medium opacity-80 text-sm">Sem ganhos</p>
        }
      </div>
    </li>

    <li class="dashboard-status-item p-3 flex custom-border gap-3 flex-col bg-white min-h-36 min-w-[250px] rounded-xl shadow-xl cursor-pointer flex-1 hover-scale transition-all">
      <div class="flex justify-between flex-1 flex-wrap">
        <div class="flex flex-col gap-3">
          <h2 class="text-base opacity-90">Total de Animais</h2>
          <p class="text-2xl font-bold">{{  generalMetrics()?.totalAnimalsCurrentMonth }}</p>
        </div>
        <div class="bg-orange-100 self-start p-4 rounded-xl ">
          <img src="assets/icons/dashboard/order.svg" class="min-w-7"/>
        </div>
      </div>
      <div class="flex gap-2 items-center flex-wrap">
        @if (calcPercentForAnimals()! > 0) {
          <img src="assets/icons/elevacao.png" class="w-5">
          <span class="text-green-600 text-base">{{ calcPercentForAnimals() }}%</span>
          <p class="font-medium opacity-80 text-sm">Ganhos</p>
        } @else if (calcPercentForAnimals()! < 0) {
          <img src="assets/icons/elevacao-down.png" class="w-5" style="transform: rotate(180deg)">
          <span class="text-red-600 text-base">{{ calcPercentForAnimals() }}%</span>
          <p class="font-medium opacity-80 text-sm">Perdas</p>
        } @else {
          <i class="bi bi-clipboard-data-fill text-[#01548E]"></i>
          <span class="text-base">0%</span>
          <p class="font-medium opacity-80 text-sm">Sem ganhos</p>
        }
      </div>
    </li>

    <li class="dashboard-status-item custom-border p-3 flex gap-3 flex-col bg-white min-h-36 min-w-[250px] rounded-xl shadow-xl cursor-pointer flex-1 hover-scale transition-all">
      <div class="flex justify-between flex-1 flex-wrap">
        <div class="flex flex-col gap-3">
          <h2 class="text-base opacity-90">Total de Atendimentos</h2>
          <p class="text-2xl font-bold">{{ generalMetrics()?.totalConsultsCurrentMonth }}</p>
        </div>
        <div class="bg-green-100 self-start p-4 rounded-xl ">
          <img src="assets/icons/dashboard/chart-up.png" class="min-w-7"/>
        </div>
      </div>
      <div class="flex gap-2 items-center flex-wrap">
        @if (calcPercentForConsults()! > 0) {
          <img src="assets/icons/elevacao.png" class="w-5">
          <span class="text-green-600 text-base">{{ calcPercentForConsults() }}%</span>
          <p class="font-medium opacity-80 text-sm">Ganhos</p>
        } @else if (calcPercentForConsults()! < 0) {
          <img src="assets/icons/elevacao-down.png" class="w-5" style="transform: rotate(180deg)">
          <span class="text-red-600 text-base">{{ calcPercentForConsults() }}%</span>
          <p class="font-medium opacity-80 text-sm">Perdas</p>
        } @else {
          <i class="bi bi-clipboard-data-fill text-[#01548E]"></i>
          <span class="text-base">0%</span>
          <p class="font-medium opacity-80 text-sm">Sem ganhos</p>
        }
      </div>
    </li>

    <li class="dashboard-status-item p-3 custom-border flex gap-3 flex-col bg-white min-h-36 min-w-[250px] rounded-xl shadow-xl cursor-pointer flex-1 hover-scale transition-all">
      <div class="flex justify-between flex-1 flex-wrap">
        <div class="flex flex-col gap-3">
          <h2 class="text-base opacity-90">Total de Receita</h2>
          <p class="text-2xl font-bold ">{{ generalMetrics()?.totalRevenueCurrentMonth?.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL'}) }}</p>
        </div>
        <div class="bg-red-100 self-start p-4 rounded-xl ">
          <img src="assets/icons/dashboard/pedido-processado.png" class="min-w-7"/>
        </div>
      </div>
      <div class="flex gap-2 items-center flex-wrap">
        @if (calcPercentForRevenue()! > 0) {
          <img src="assets/icons/elevacao.png" class="w-5">
          <span class="text-green-600 text-base">{{ calcPercentForRevenue() }}%</span>
          <p class="font-medium opacity-80 text-sm">Ganhos</p>
        } @else if (calcPercentForRevenue()! < 0) {
          <img src="assets/icons/elevacao-down.png" class="w-5" style="transform: rotate(180deg)">
          <span class="text-red-600 text-base">{{ calcPercentForRevenue() }}%</span>
          <p class="font-medium opacity-80 text-sm">Perdas</p>
        } @else {
          <i class="bi bi-clipboard-data-fill text-[#01548E]"></i>
          <span class="text-base">0%</span>
          <p class="font-medium opacity-80 text-sm">Sem ganhos</p>
        }
      </div>
    </li>

  </ul>
</div>
