<div class="absolute top-0 z-50 left-0 w-full h-full bg-black bg-opacity-60 flex items-center justify-center">
  <form [formGroup]="form" (ngSubmit)="save()" class="p-5 bg-white rounded-md mat-elevation-z2  max-w-[600px] w-full">
    <div class="flex justify-between items-center mb-2">
      <h1 class="text-lg font-medium">Edição de Perfil</h1>
      <button mat-button color="primary" (click)="onClose.emit()">Fechar</button>
    </div>
    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label>
          <span class="flex gap-2 items-center">
            <i class="bi bi-person-lines-fill"></i>
            Básico
          </span>
        </ng-template>
        <div class="grid mt-6">
          <div class="flex gap-4">
            <mat-form-field  appearance="outline" floatLabel="always" class="flex-1">
              <mat-label>Nome</mat-label>
              <input type="text" matInput placeholder="Nome" formControlName="name" >
              @if (getControlError('name')) {
                <mat-error>{{  getControlError('name') }}</mat-error>
              }
            </mat-form-field>
            <mat-form-field  appearance="outline" floatLabel="always" class="flex-1">
              <mat-label>Apelido</mat-label>
              <input type="text" matInput placeholder="Nome" formControlName="username">
              @if (getControlError('username')) {
                <mat-error>{{  getControlError('username') }}</mat-error>
              }
            </mat-form-field>
          </div>
          <mat-form-field  appearance="outline" floatLabel="always" class="flex-1 mt-2">
            <mat-label>Email</mat-label>
            <input type="text" matInput placeholder="Email" formControlName="email">
            @if (getControlError('email')) {
              <mat-error>{{  getControlError('email') }}</mat-error>
            }
          </mat-form-field>
          <div class="flex gap-4 mt-3">
            <mat-form-field  appearance="outline" floatLabel="always" class="flex-1">
              <mat-label>CPF</mat-label>
              <input type="text" matInput placeholder="CPF" formControlName="document">
              @if (getControlError('document')) {
                <mat-error>{{  getControlError('document') }}</mat-error>
              }
            </mat-form-field>
            <mat-form-field  appearance="outline" floatLabel="always" class="flex-1">
              <mat-label>Celular</mat-label>
              <input type="text" matInput placeholder="Celular" formControlName="phone">
              @if (getControlError('phone')) {
                <mat-error>{{  getControlError('phone') }}</mat-error>
              }
            </mat-form-field>
          </div>
          @if (userInfo()?.crmv && userInfo()?.crmvUf) {
            <div class="flex gap-4 mt-4">
              <mat-form-field  appearance="outline" floatLabel="always" class="flex-1">
                <mat-label>Crmv</mat-label>
                <input type="text" matInput placeholder="Crmv" formControlName="crmv">
                @if (getControlError('crmv')) {
                  <mat-error>{{  getControlError('crmv') }}</mat-error>
                }
              </mat-form-field>
              <mat-form-field  appearance="outline" floatLabel="always" class="flex-1">
                <mat-label>Crmv Uf</mat-label>
                <input type="text" matInput placeholder="UF" formControlName="crmvUf">
                @if (getControlError('crmvUf')) {
                  <mat-error>{{  getControlError('crmvUf') }}</mat-error>
                }
              </mat-form-field>
            </div>
          }
        </div>
      </mat-tab>

      <mat-tab formGroupName="address">
        <ng-template mat-tab-label>
          <span class="flex gap-2 items-center">
            <i class="bi bi-car-front-fill"></i>
            Endereço
          </span>
        </ng-template>
        <div class="grid mt-6">
          <mat-form-field appearance="outline">
            <mat-label>Cidades</mat-label>
            <mat-select formControlName="cityId" placeholder="Cidade/Estado">
              @for (city of cities(); track city.id) {
                <mat-option [value]="city.id">{{  city.name + " - " + city.state.name }}</mat-option>
              }
            </mat-select>
            @if (getControlError('cityId')) {
              <mat-error>{{  getControlError('cityId') }}</mat-error>
            }
          </mat-form-field>
          <div class="flex gap-4 mt-3">
            <mat-form-field  appearance="outline" floatLabel="always" class="flex-1">
              <mat-label>Rua</mat-label>
              <input type="text" matInput placeholder="Rua" formControlName="street" >
              @if (getControlError('address.street')) {
                <mat-error>{{  getControlError('address.street') }}</mat-error>
              }
            </mat-form-field>
            <mat-form-field  appearance="outline" floatLabel="always" class="flex-1">
              <mat-label>Bairro</mat-label>
              <input type="text" matInput placeholder="Bairro" formControlName="neighborhood" >
              @if (getControlError('address.neighborhood')) {
                <mat-error>{{  getControlError('address.neighborhood') }}</mat-error>
              }
            </mat-form-field>
          </div>
          <div class="flex gap-4 mt-3">
            <mat-form-field  appearance="outline" floatLabel="always" class="flex-1">
              <mat-label>CEP</mat-label>
              <input type="text" matInput placeholder="CEP" formControlName="zipCode" >
              @if (getControlError('address.zipCode')) {
                <mat-error>{{  getControlError('address.zipCode') }}</mat-error>
              }
            </mat-form-field>
            <mat-form-field  appearance="outline" floatLabel="always" class="flex-1">
              <mat-label>Número</mat-label>
              <input type="text" matInput placeholder="Bairro" formControlName="number" >
              @if (getControlError('address.number')) {
                <mat-error>{{  getControlError('address.number') }}</mat-error>
              }
            </mat-form-field>
          </div>
        </div>
      </mat-tab>

    </mat-tab-group>
    <button mat-raised-button color="primary" class="mt-4 !h-12 w-full">Salvar</button>
  </form>
</div>
