<div class="h-full overflow-auto">
  <header>
    <nav class="flex justify-between bg-brand-primary text-white px-12 py-5">
      <div class="flex items-center gap-4">
        <img src="assets/icons/squirrel.png" class="w-10 mr-3 ">
        <span class="text-2xl font-bold">SIGVet</span>
      </div>
      <ul class="flex items-center gap-10">
        <li class="cursor-pointer hover:text-gray-400">Soluções</li>
        <li class="cursor-pointer hover:text-gray-400">Planos e Preços</li>
        <li class="cursor-pointer hover:text-gray-400">Suporte</li>
        <li class="bg-[#CCDDE9] px-5 py-2 rounded-md text-black hover:bg-[#014674] hover:text-white cursor-pointer">
          Experimente Grátis</li>
        <li routerLink="/login"
          class="bg-[#CCDDE9] px-5 py-2 rounded-md text-black hover:bg-[#014674] hover:text-white cursor-pointer">Entrar
        </li>
      </ul>
    </nav>
  </header>

  <div class="min-h-[500px]">
    asdgajhsgdjagsdhj
  </div>

  <footer class="bg-brand-primary text-white py-10">
    <div class="flex justify-around">
      <div class="py-12">
        <ul class="flex flex-col gap-2">
          <span class="font-bold">INSTITUCIONAL</span>
          <li class="cursor-pointer hover:text-gray-400">Por que o SIGVet?</li>
          <li class="cursor-pointer hover:text-gray-400">Planos e Preços</li>
          <li class="cursor-pointer hover:text-gray-400">Fale Conosco</li>
          <li class="cursor-pointer hover:text-gray-400">Blog</li>
        </ul>
      </div>
      <div class="py-12">
        <ul class="flex flex-col gap-2">
          <span class="font-bold">INFORMAÇÕES LEGAIS</span>
          <li class="cursor-pointer hover:text-gray-400">Política de Privacidade</li>
          <li class="cursor-pointer hover:text-gray-400">Termos de Uso</li>
        </ul>
      </div>
      <div class="py-12">
        <ul class="flex flex-col gap-2">
          <span class="font-bold">SUPORTE</span>
          <li class="cursor-pointer hover:text-gray-400">Central de Ajuda</li>
          <li class="cursor-pointer hover:text-gray-400">Perguntas Frequentes</li>
          <li class="cursor-pointer hover:text-gray-400">Atualizações da Plataforma</li>
          <li class="cursor-pointer hover:text-gray-400">Treinamento Personalizado</li>
        </ul>
      </div>
      <div class="py-12">
        <ul class="flex flex-col gap-2">
          <span class="font-bold">ACESSO</span>
          <li class="cursor-pointer hover:text-gray-400">Soluções</li>
          <li class="cursor-pointer hover:text-gray-400">Experimente Grátis</li>
          <li class="cursor-pointer hover:text-gray-400">Entrar</li>
        </ul>
      </div>
    </div>
    <div class="flex justify-end border-t mt-5">
      <span class="mt-10 me-12">Desenvolvido com ❤️ por Gabriel e Livia</span>
    </div>
  </footer>

</div>
