<div class="bg-black bg-opacity-60 pt-5 absolute top-0 left-0 w-full h-full z-[999] flex items-center justify-center">
  <section *ngIf="vaccination" class="p-5 overflow-auto max-h-[90vh] bg-white mat-elevation-z4 rounded-md animate-slide-in flex gap-2 max-w-[700px] w-full">
    <!-- 'id', 'name', 'manufacturer', 'lot', 'unitPrice', 'stock', 'expirationDate']; -->
    <aside class="flex-1 pb-4">
      <div class="flex justify-between mb-6 gap-2">
        <span class="text-2xl font-semibold flex items-center gap-2 text-gray-600">
          <i class="bi bi-info-square-fill"></i>
          Detalhes da Vacinação
        </span>
        <button mat-raised-button color="primary" routerLink="/dashboard/vacinacoes">Fechar</button>
      </div>
      <ul class="flex flex-col gap-4 ps-4">
        <li class="flex items-center gap-2">
          <span class="font-medium text-lg">ID:</span>
          <span class="text-lg">{{ vaccination.id }}</span>
        </li>
        <mat-divider></mat-divider>
        <li class="flex gap-2">
          <span class="font-medium text-base">Data e Hora:</span>
          <span class="text-base">{{ dateFormatted }}</span>
        </li>
        <mat-divider></mat-divider>
        <li class="flex flex-col gap-2">
          <div class="flex items-center gap-2  cursor-pointer bg-gray-100 px-2" [routerLink]="['/dashboard', 'veterinarios', 'visualizar', vaccination.veterinarian.id]">
            <span class="text-base font-medium">Veterinário Responsável:</span>
            <span class="text-base" >{{ vaccination.veterinarian.name }}</span>
          </div>
          <div class="ms-4">
            <ul class="list-outside flex flex-col gap-2">
              <li class="flex gap-2 items-center">
                <span class="text-sm font-medium">CRMV:</span>
                <span class="text-sm">{{  vaccination.veterinarian.crmv }}</span>
              </li>
              <mat-divider></mat-divider>
              <li class="flex gap-2 items-center">
                <span class="text-sm font-medium">Especialidade:</span>
                <span class="text-sm">{{  vaccination.veterinarian.specialty }}</span>
              </li>
              <mat-divider></mat-divider>
              <li class="flex gap-2 items-center">
                <span class="text-sm font-medium">Contato:</span>
                <span class="text-sm">{{  vaccination.veterinarian.email + ', ' + vaccination.veterinarian.phone }}</span>
              </li>
            </ul>
          </div>
        </li>
        <mat-divider></mat-divider>
        <li class="flex flex-col gap-2">
          <div class="flex items-center gap-2  cursor-pointer bg-gray-100 px-2" [routerLink]="['/dashboard', 'animais', 'visualizar', vaccination.animal.id]">
            <span class="text-base font-medium">Animal:</span>
            <span class="text-base">{{ vaccination.animal.name }}</span>
          </div>
          <div class="ms-4">
            <ul class="list-outside flex flex-col gap-2">
              <li class="flex gap-2 items-center">
                <span class="text-sm font-medium">Raça:</span>
                <span class="text-sm">{{  vaccination.animal.breed }}</span>
              </li>
              <mat-divider></mat-divider>
              <li class="flex gap-2 items-center">
                <span class="text-sm font-medium">Data de Nascimento:</span>
                <span class="text-sm">{{  vaccination.animal.birthDate | date: 'dd/MM/YYYY' }}</span>
              </li>
            </ul>
          </div>
        </li>
        <mat-divider></mat-divider>
        <li class="flex flex-col gap-2">
          <div class="flex items-center gap-2  cursor-pointer bg-gray-100 px-2" [routerLink]="['/dashboard', 'vacinas', 'visualizar', vaccination.vaccine.id]">
            <span class="text-base font-medium">Vacina Administrada:</span>
            <span class="text-base">{{ vaccination.vaccine.name }}</span>
          </div>
          <div class="ms-4">
            <ul class="list-outside flex flex-col gap-2">
              <li class="flex gap-2 items-center">
                <span class="text-sm font-medium">Número do Lote:</span>
                <span class="text-sm">{{  vaccination.vaccine.lot }}</span>
              </li>
              <mat-divider></mat-divider>
              <li class="flex gap-2 items-center">
                <span class="text-sm font-medium">Preço Unitário:</span>
                <span class="text-sm">{{  vaccination.vaccine.unitPrice.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' }) }}</span>
              </li>
              <mat-divider></mat-divider>
              <li class="flex gap-2 items-center">
                <span class="text-sm font-medium">Data de Validade:</span>
                <span class="text-sm">{{  vaccination.vaccine.expirationDate | date: 'dd/MM/YYYY' }}</span>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </aside>
  </section>
</div>


