<div id="container" *ngIf="isOpen()"  class="absolute left-0 top-0 bg-black bg-opacity-50 w-full h-full p-5 z-20">
  <form class="max-w-[700px] mx-auto bg-white p-5 py-7 rounded-md shadow-xl animate-slide-in" [formGroup]="form">
    <div class="flex justify-between items-center">
      <h1 class="text-center text-2xl">Recuperar senha</h1>
      <button mat-icon-button (click)="close()">
        <img src="assets/icons/close.svg" class="w-6 cursor-pointer">
      </button>
    </div>
    <div class="flex flex-col mt-3">

      <mat-vertical-stepper [linear]="false" #stepper [formGroup]="form">
        <mat-step [stepControl]="form">
          <div>
            <ng-template matStepLabel>Preencha seu email</ng-template>
             <div class="mt-2">
              <mat-form-field class="w-full" appearance="outline">
                <mat-label>Email</mat-label>
                <input type="email" matInput formControlName="email" placeholder="Email">
                @if (getControlError('email')) {
                  <mat-error>{{  getControlError('email') }}</mat-error>
                }
              </mat-form-field>
             </div>
            <div>
              <button mat-button matStepperNext *ngIf="form.controls.email.valid">Próximo</button>
            </div>
          </div>
        </mat-step>
        <mat-step [stepControl]="form">
          <div>
            <ng-template matStepLabel>Preencha seu documento</ng-template>
            <div class="mt-2">
              <mat-form-field class="w-full" appearance="outline">
                <mat-label>CPF</mat-label>
                <input type="text" matInput formControlName="document" placeholder="CPF" mask="000.000.000-00">
                @if (getControlError('document')) {
                  <mat-error>{{  getControlError('document') }}</mat-error>
                }
              </mat-form-field>
            </div>
            <div>
              <button mat-button matStepperPrevious>Voltar</button>
              <button mat-button matStepperNext>Próximo</button>
            </div>
          </div>
        </mat-step>
        <mat-step [stepControl]="form">
          <div>
            <ng-template matStepLabel>Preencha uma senha</ng-template>
            <div class="mt-2">
              <mat-form-field appearance="outline" class=" w-full">
                <mat-label>Senha</mat-label>
                <input type="password" matInput  formControlName="password" placeholder="Senha">
                @if (getControlError('password')) {
                  <mat-error>{{  getControlError('password') }}</mat-error>
                }
              </mat-form-field>
            </div>
            <div>
              <button mat-button matStepperPrevious>Voltar</button>
              <button mat-button matStepperNext>Próximo</button>
            </div>
          </div>
        </mat-step>
        <mat-step [stepControl]="form">
          <ng-template matStepLabel>Feito</ng-template>
          <div class="mt-2">
            <mat-form-field appearance="outline" class=" w-full">
              <mat-label>Senha de Confirmação</mat-label>
              <input type="password" matInput  formControlName="confirmationPassword" placeholder="Senha de Confirmação">
              @if (getControlError('confirmationPassword')) {
                <mat-error>{{  getControlError('confirmationPassword') }}</mat-error>
              }
            </mat-form-field>
          </div>
          <span>Está quase pronto!</span>
          <div *ngIf="allFieldsFilled()" class="mt-2">
            <button mat-button matStepperPrevious>Voltar</button>
            <button mat-button (click)="stepper.reset()">Resetar</button>
            <button mat-button (click)="recover()">Confirmar</button>
          </div>
        </mat-step>
      </mat-vertical-stepper>
    </div>
    @if (allFieldsFilled()) {
      <button mat-raised-button color="primary" class="w-full !h-12 mt-3" (click)="recover()">Recuperar</button>
    }
  </form>
</div>



