<header>
  <div class="flex justify-between mt-3 flex-wrap gap-2">
    <div class="flex gap-2 max-w-[500px] items-center w-full">
      <mat-form-field appearance="outline" class="flex-1 relative top-2.5">
        <mat-label>Pesquisar</mat-label>
        <input type="text" placeholder="Pesquisar" aria-label="Pesquisar" matInput>
      </mat-form-field>

      <button matTooltip="Limpar" mat-mini-fab color="none" class="h-full ms-2">
        <i class="bi bi-eraser-fill text-xl"></i>
      </button>
      <button (click)="openMoreFilterModal.set(true)" mat-mini-fab matTooltip="Mais Filtros" color="primary" class="ms-2" (click)="openMoreFilterModal.set(true)">
        <i class="bi bi-filter text-2xl"></i>
      </button>
    </div>

    <div class="flex items-center mr-2">
      <button matTooltip="Adicionar" mat-mini-fab color="primary" class="mr-2" (click)="create()">
        <i class="bi bi-plus-circle-fill text-xl"></i>
      </button>
    </div>
  </div>
</header>

<div class="mt-1 pb-5">
  <app-animal-list />
</div>

@if (openMoreFilterModal()) {
  <app-filter (onClose)="openMoreFilterModal.set(false)"/>
}

<router-outlet/>

