<div id="container" *ngIf="isOpen()"  class="absolute left-0 top-0 bg-black bg-opacity-50 w-full h-full p-5 z-20">
  <form class="max-w-[700px] mx-auto bg-white p-5 py-7 rounded-md shadow-xl animate-slide-in" [formGroup]="form">
    <div class="flex justify-between items-center">
      <h1 class="text-center text-2xl font-medium  after:block after:w-10 after:h-0.5 after:bg-black after:bg-opacity-80">Recuperar senha</h1>
      <span>
        <img src="assets/icons/dashboard/close.svg" class="w-6 cursor-pointer" (click)="close()">
      </span>
    </div>
    <div class="grid grid-cols-2 gap-4 mt-5">
      <span class="flex flex-col gap-1 col-span-2">
        <label for="" class="text-sm">E-mail</label>
        <input formControlName="email" type="email" class="border border-black border-opacity-30 rounded-md py-3 p-2 text-sm placeholder:text-black placeholder:opacity-75" placeholder="Email">
      </span>
      @if (form.controls.email.valid) {
        <span class="flex flex-col gap-1 fade-in">
          <label for="" class="text-sm">Senha</label>
          <input formControlName="password" type="password" class="border border-black border-opacity-30 rounded-md py-3 p-2 text-sm placeholder:text-black placeholder:opacity-75" placeholder="Senha" >
        </span>

        @if (form.controls.password.valid) {
          <span class="flex flex-col gap-1 fade-in">
            <label for="" class="text-sm">Senha de Confirmação</label>
            <input formControlName="confirmationPassword" type="password" class=" border border-black border-opacity-30 py-3 rounded-md p-2 text-sm placeholder:text-black placeholder:opacity-75" placeholder="Senha">
          </span>
        }
      }
    </div>
    <button [disabled]="form.controls.password.valid && form.controls.confirmationPassword.valid" class="bg-account-secondary w-full font-medium uppercase text-white mt-8 p-2 py-3 rounded-md text-sm hover:opacity-70">Recuperar</button>
  </form>
</div>
