<div id="container" class="absolute top-0 left-0 w-screen h-screen bg-black bg-opacity-70 flex flex-col items-center p-5">
  <section class="bg-white w-full max-w-[1000px] flex gap-5 p-6 animate-slide-in shadow-md rounded-md mat-elevation-z2 relative">
    <span class="absolute top-0 right-0 mt-5 mr-4">
      <button mat-icon-button (click)="close()">
        <img src="assets/icons/dashboard/close.svg" class="w-6 cursor-pointer">
      </button>
    </span>
    <aside>
      @if (photoUrl())  {
        <div class="photo relative w-52 h-52  bg-opacity-80 rounded-full px-4">
          <img class="absolute top-0 left-0 w-full h-full object-cover rounded-full" [src]="photoUrl()" alt>
        </div>
      }

    </aside>
    <div class="w-full">
      <header>
        <div class="flex gap-2">
          <h1 class="text-2xl">{{ userInfo()!.name }}</h1>
          <button mat-raised-button color="primary" class="ms-4" (click)="onClickEditProfile.emit()">Editar</button>
        </div>
        <h2 class="text-[#3479BF] font-semibold text-sm">{{ userInfo()!.roles |  userRole }}</h2>
      </header>

      <section class="py-5 mt-3">
        <mat-tab-group>
          <mat-tab label="Sobre">
            <mat-list>
              <mat-list-item>
                <div class="flex justify-between">
                  <span class="font-medium text-base flex-1">Documento</span>
                  <span class="w-1/3 text-sm text-[#3479BF] font-medium">{{ userInfo()!.document }}</span>
                </div>
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>
                <div class="flex justify-between">
                  <span class="font-medium text-base flex-1">Nome</span>
                <span class="w-1/3  text-sm text-[#3479BF] font-medium">{{ userInfo()!.name }}</span>
                </div>
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>
                <div class="flex justify-between">
                  <span class="font-medium text-base flex-1">E-mail</span>
                  <span class="w-1/3 text-sm text-[#3479BF] font-medium">{{ userInfo()!.email }}</span>
                </div>
              </mat-list-item>
              <mat-divider></mat-divider>
              <mat-list-item>
                <div class="flex justify-between">
                  <span class="font-medium text-base flex-1">Celular</span>
                  <span class="w-1/3 text-sm text-[#3479BF] font-medium">{{ userInfo()!.phone }}</span>
                </div>
              </mat-list-item>
            </mat-list>
          </mat-tab>
          <mat-tab label="Endereço">
            @if(userInfo()?.address) {
                <mat-list>
                  <mat-list-item>
                    <div class="flex justify-between">
                      <span class="font-medium text-base flex-1">Rua</span>
                      <span class="w-1/3 text-sm text-[#3479BF] font-medium">{{ userInfo()!.address?.street }}</span>
                    </div>
                  </mat-list-item>
                  <mat-divider></mat-divider>
                  <mat-list-item>
                    <div class="flex justify-between">
                      <span class="font-medium text-base flex-1">Bairro</span>
                    <span class="w-1/3  text-sm text-[#3479BF] font-medium">{{ userInfo()!.address?.neighborhood }}</span>
                    </div>
                  </mat-list-item>
                  <mat-divider></mat-divider>
                  <mat-list-item>
                    <div class="flex justify-between">
                      <span class="font-medium text-base flex-1">Número</span>
                      <span class="w-1/3 text-sm text-[#3479BF] font-medium">{{ userInfo()!.address?.number }}</span>
                    </div>
                  </mat-list-item>
                  <mat-divider></mat-divider>
                  <mat-list-item>
                    <div class="flex justify-between">
                      <span class="font-medium text-base flex-1">Código Postal</span>
                      <span class="w-1/3 text-sm text-[#3479BF] font-medium">{{ userInfo()!.address?.zipCode }}</span>
                    </div>
                  </mat-list-item>
                  <mat-divider></mat-divider>
                  <mat-list-item>
                    <div class="flex justify-between">
                      <span class="font-medium text-base flex-1">Cidade</span>
                      <span class="w-1/3 text-sm text-[#3479BF] font-medium">{{ userInfo()!.address?.city?.name }}</span>
                    </div>
                  </mat-list-item>
                  <mat-divider></mat-divider>
                  <mat-list-item>
                    <div class="flex justify-between">
                      <span class="font-medium text-base flex-1">Estado</span>
                      <span class="w-1/3 text-sm text-[#3479BF] font-medium">{{ userInfo()!.address?.city?.state?.name }}</span>
                    </div>
                  </mat-list-item>
                </mat-list>
              }

          </mat-tab>
        </mat-tab-group>
      </section>
    </div>
  </section>
</div>
