<div class="absolute left-0 top-0 bg-black bg-opacity-50 w-full h-full p-5 z-20">
  <form class="max-w-[700px] mx-auto bg-white p-5 py-7 rounded-md shadow-xl">
    <div class="flex justify-between items-center">
      <h1 class="text-center text-2xl font-medium">Registro</h1>
      <span>
        <img src="assets/icons/dashboard/close.svg" class="w-6 cursor-pointer" (click)="close()">
      </span>
    </div>
    <div class="grid grid-cols-2 gap-4 mt-5">
      <span class="flex flex-col gap-1">
        <label for="" class="text-sm">Nome</label>
        <input type="text" class="border border-black border-opacity-30 rounded-md p-2 text-sm placeholder:text-black placeholder:opacity-75" placeholder="Nome">
      </span>
      <span class="flex flex-col gap-1">
        <label for="" class="text-sm">Sobrenome</label>
        <input type="text" class="border border-black border-opacity-30 rounded-md p-2 text-sm placeholder:text-black placeholder:opacity-75" placeholder="Sobrenome">
      </span>
      <span class="flex flex-col gap-1">
        <label for="" class="text-sm">Email</label>
        <input type="text" class="border border-black border-opacity-30 rounded-md p-2 text-sm placeholder:text-black placeholder:opacity-75" placeholder="E-mail">
      </span>
      <span class="flex flex-col gap-1">
        <label for="" class="text-sm">CPF</label>
        <input type="text" class="border border-black border-opacity-30 rounded-md p-2 text-sm placeholder:text-black placeholder:opacity-75" placeholder="xxx.xxx.xxx-xx">
      </span>
      <span class="flex flex-col gap-1">
        <label for="" class="text-sm">CEP</label>
        <input type="text" class="border border-black border-opacity-30 rounded-md p-2 text-sm placeholder:text-black placeholder:opacity-75" placeholder="Endereço postal" >
      </span>
      <span class="flex flex-col gap-1">
        <label for="" class="text-sm">Estado</label>
        <input type="text" class="border border-black border-opacity-30 rounded-md p-2 text-sm placeholder:text-black placeholder:opacity-75" placeholder="Sigla" >
      </span>
      <span class="flex flex-col gap-1">
        <label for="" class="text-sm">Cidade</label>
        <input  type="text" class=" border border-black border-opacity-30 rounded-md p-2 text-sm placeholder:text-black placeholder:opacity-75" placeholder="Cidade">
      </span>
      <span class="flex flex-col gap-1">
        <label for="" class="text-sm">Endereço</label>
        <input type="text" class="border border-black border-opacity-30 rounded-md p-2 text-sm placeholder:text-black placeholder:opacity-75" placeholder="Endereço">
      </span>
      <span class="flex flex-col gap-1">
        <label for="" class="text-sm">Bairro</label>
        <input type="text" class="border border-black border-opacity-30 rounded-md p-2 text-sm placeholder:text-black placeholder:opacity-75" placeholder="Bairro">
      </span>
      <span class="flex flex-col gap-1">
        <label for="" class="text-sm">Complemento</label>
        <input type="text" class="border border-black border-opacity-30 rounded-md p-2 text-sm placeholder:text-black placeholder:opacity-75" placeholder="Complento">
      </span>
    </div>
    <div class="mt-5">
      <label for="" class="text-sm">Data de Nascimento</label>
      <span class="flex text-sm gap-5 sm:gap-3 items-center flex-wrap">
        <input type="text" placeholder="Mês" class="border border-black border-opacity-30 rounded-md p-2 flex-1 placeholder:text-black placeholder:opacity-75">
        <input type="text" placeholder="Dia" class="border border-black border-opacity-30 rounded-md p-2 flex-1 placeholder:text-black placeholder:opacity-75">
        <input type="text" placeholder="Ano" class="border border-black border-opacity-30 rounded-md p-2 flex-1 placeholder:text-black placeholder:opacity-75">
        <img src="assets/icons/dashboard/calendar.png" class="w-6 h-6 hidden md:block">
      </span>
    </div>
    <button class="bg-account-secondary w-full text-white mt-5 p-2 rounded-md text-sm hover:opacity-70">Cadastrar</button>
  </form>
</div>
