@use 'sass';
@use 'primeng/resources/themes/lara-light-blue/theme.css';
@use 'primeng/resources/primeng.min.css';
@use 'bootstrap-icons/font/bootstrap-icons.min.css';
@use 'ngx-toastr/toastr.css';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@tailwind base;
@tailwind utilities;
@tailwind components;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
