<form>
  <h1 class="flex items-center gap-3">
    <img src="assets/icons/receita.svg" class="w-5">
    <span class="font-medium text-lg">Dados da Receita Federal</span>
  </h1>
    <div class="grid grid-cols-1 sm:grid-cols-2 mt-4 gap-5 justify-around">
      <div class="flex flex-col">
        <label class="opacity-80">CNPJ</label>
        <span class="font-thin">11.111.111/1111-11</span>
      </div>
      <div class="flex flex-col">
        <label class="opacity-80">Razão Social</label>
        <span class="font-thin uppercase">Gabriel Cardoso Girarde</span>
      </div>
      <div class="flex flex-col">
        <label class="opacity-80">Nome Fantasia</label>
        <span class="font-thin">GABRIEL LTA</span>
      </div>
      <div class="flex flex-col">
        <label class="opacity-80">Data Abertura</label>
        <span class="font-thin uppercase">10/04/2000</span>
      </div>
      <div class="flex flex-col">
        <label class="opacity-80">Natureza Jurídica</label>
        <span class="font-thin uppercase">Empresário</span>
      </div>
      <div class="flex flex-col">
        <label class="opacity-80">Situação</label>
        <span class="font-thin uppercase">ATIVA desde 10/04/2000</span>
      </div>
      <div class="flex flex-col">
        <label class="opacity-80">Situação Especial</label>
        <span class="font-thin uppercase">Não Disponível</span>
      </div>
      <div class="flex flex-col">
        <label class="opacity-80">Enquadramento de Porte</label>
        <span class="font-thin uppercase">ME</span>
      </div>
      <div class="flex flex-col">
        <label class="opacity-80">Capital Social</label>
        <span class="font-thin uppercase">R$ 50,00</span>
      </div>
      <div class="flex flex-col">
        <label class="opacity-80">Opção pelo MEI</label>
        <span class="font-thin uppercase">Não</span>
      </div>
      <div class="flex flex-col">
        <label class="opacity-80">Categoria</label>
        <span class="font-thin">Alimentação</span>
      </div>
      <div class="flex flex-col">
        <label class="opacity-80">Endereço</label>
        <span class="font-thin">Castelo-ES</span>
      </div>
    </div>
    <div class="mt-5">
      <h2 class="font-bold">Descrição</h2>
      <p class="text-sm mt-1">
        Empresa do Gabriel ficticia, Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis ipsa, maiores ad reiciendis in odio deleniti necessitatibus illum recusandae dolore. Animi omnis ex alias rerum nesciunt accusantium natus vero repudiandae!
      </p>
    </div>
</form>
